.tabla_iconos_mapa  {border-collapse:collapse;border-spacing:0;}
.tabla_iconos_mapa td{font-family:Arial, sans-serif;font-size:12px;padding:0px 5px;overflow:hidden;word-break:normal;text-align: center;}
.tabla_iconos_mapa th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;padding:0px 5px;overflow:hidden;word-break:normal;text-align: center;}
.tabla_iconos_mapa .caja_tabla{background-color:transparent;vertical-align:top}

 .tabla_iconos_mapa .fa.fa-percent, .tabla_iconos_mapa .fa.fa-user, .tabla_iconos_mapa .fa.fa-star {
  font-size: 14px;
  color: #ffffff;
 }
/* texto pie */
.c3-chart-arc text {
    fill: #fff !important;
}


.altura_barra{

  height: 1.1px; width:10px;
}

/* === ANIMACIONES === */

/* === CSS GLOBAL ANIMACIONES === */

.iconos_tarjetas {
  width: 130px;
  height: 130px;
  position: relative;
  top: -4px;
}

.iconos_tarjetas_pequenos {
  width: 120px;
  height: 120px;
  position: relative;
  top: 0px;
}

.iconos_tarjetas_igual {
  width: 130px;
  height: 130px;
  position: relative;
  top: 0px;
}

/* TERMINA CSS GLOBAL ANIMACIONES */


/* === ANIMACION FLECHAS === */

.flecha_arriba {
    width: 174px;
    height: 174px;
    margin-left: 20px;
    margin-top: -8px;
    stroke-width: 2;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

.flecha_abajo {
    width: 174px;
    height: 174px;
    margin-left: -33px;
    margin-top: 16px;
    stroke-width: 2;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg);
}

/* === TERMINA ANIMACION FLECHAS === */


/* === ANIMACION MARRANITO === */

.marrano {
  fill:#fff;
  stroke:#112f59;
  stroke-width:5;
}

.moneda {
  fill:#fff;
  stroke:#112f59;
  stroke-width: 3;
  -ms-transform: translate(0px, 2px); /* IE 9 */
  -webkit-transform: translate(0px, 2px); /* Safari */
  transform: translate(0px, 2px);
}

/* === TERMINA ANIMACION MARRANITO === */

/* === TERMINA ANIMACIONES */

/* TOOLTIP*/
.tooltip_graficas_dashboard{ 
  background-color:#FFCC32; 
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,1);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,1);
  box-shadow: -1px 0px 5px 0px rgba(0,0,0,1);
}

.contenido_toltip {
  position: relative;
  top: 5px;
}

.contenedor_izquierdo {
  width: 100%;
  height: auto;
}

.titulo_contenedor_izquierdo_toltip_mapa {

  font-size: 10px;
  font-weight: bold;
  font-family: 'Roboto-regular';
  width: 100px;
  position: relative;
  margin-left: -20px;
  overflow-wrap: break-word;

}

p.subtitulo_contenedor_izquierdo_toltip_mapa {

  font-size: 10px;
  color: #41597A;
  font-family: 'Roboto-light';
  font-weight: 900;
  width: 100px;
  height: 5px;
  position: relative;
  left: -20px;
  top: -10px;
  overflow-wrap: break-word;

}

.titulo_contenedor_izquierdo {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto-regular';
  width: 100px;
  position: relative;
  margin-left: -20px;
  overflow-wrap: break-word;
}

p.subtitulo_contenedor_izquierdo {
  font-size: 12px;
  color: #41597A;
  font-family: 'Roboto-light';
  font-weight: 900;
  width: 100px;
  height: 5px;
  position: relative;
  left: -20px;
  top: -10px;
  overflow-wrap: break-word;
}


.contenedor_derecho {
  width: 100%;
  height: auto;
}

.icono_persona_toltip {
  width: 13px;
  height: 15px;
  position: relative;
}

p.subtitulo_contenedor_derecho {
  font-size: 12px;
  color: #fff;
  font-family: 'Roboto-light';
  position: relative;
  margin: -10px 0px;
  height: 35px;
}

/**/

/* === MENU SANDUCHE === */

.btn_sanduche {
  text-decoration: none;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
}

#nav-icon3 {
  width: 20px;
  height: 17px;
  margin: 15px 0px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 6px;
}

#nav-icon3 span:nth-child(4) {
  top: 12px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/* === TERMINA MENU SANDUCHE === */


/* === BARRA DE PROGRESO RADIAL === */

.ProgressBar,
.ProgressBar-contentCircle {
  display: table;
  height: 210px;
  position: absolute;
  width: 210px;
  margin-left: -3px;
  margin-top: -2px;
}

.ProgressBar-circle,
.ProgressBar-background {
  fill: none;
  stroke: #112F59;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  position: relative;
  z-index: 10;
}

.ProgressBar-background {
  stroke: white;
  stroke-width: 4;
  z-index: 0;
}

.ProgressBar-percentage {
  color: #102E57;
  font-size: 60px;
  text-align: center;
  width: 100%;
  display: table-cell;
  __vertical-align: middle;
  line-height: 191px;
  font-family: 'Roboto-regular';
}

/* === TERMINA BARRA DE PROGRESO RADIAL === */


/* === ESTILO DE MENU PARALAX === */

a.activee {
  color: #3C82F5 !important;
}

.contenedor_fantasma {
  width: 100%;
  height: 494px;
}

/* === TERMINA ESTILO DE MENU PARALAX === */


/* === FILTROS === */

.titulo_filtro {
  font-size: 14px;
  width: 130%;
  color: #8A8A8A;
  border-bottom: 1px solid #8A8A8A;
  font-family: 'Roboto-light';
}

.contenedor_filtros {
  width:180px;
  height:400px;
  margin-left: 30%;
}

.contenedor_filtro_slider {
    width: 100px;
    height: 30px;
    margin-left: 18%;
    margin-top: -140px;
}

input[type='checkbox']{
  display:none;
}
.check-container {
  display:inline-block;
  position:relative;
  width:200px;
  height:34px;
}
input[type='checkbox'] + label{
   z-index: 15;
    position: absolute;
    left: 0px;
    top: 5px;
    bottom: 10px;
    right: 10px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    width: 15px;
    border: 2px solid #8A8A8A;
    height: 15px;

}
.tag {
  margin-left:28px;
  font-size: 14px;
  font-family: 'Roboto-light';
  font-weight: 200;
}
input[type='checkbox']:checked + label{

  -webkit-transition: all .3s ease;

          transition: all .3s ease;
  display:inline-block;
  width:20px;
  height:20px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:#3E82F5;
  border-left-color:transparent;
transform:rotate(-50deg) translate(5px,-9px);

}

input[type='checkbox']:checked + label:before {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -2px;
  height: 9px;
  width: 100%;  /* or 100px */
  border-left:2px solid #3E82F5;
}

.contenedor_filtros_departamentos {
  width: 180px;
  height: 95px;
  margin-left: 14%;
}

.navegacion_lateral_mapa {
  height: 420px;
  margin-top: -15px;
}

.opciones_mapa {
  margin-left: 15px;
}


.radio-custom {
    opacity: 0;
    position: absolute;   
}

.radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
    font-weight: inherit;
    font-size: 14px;
    font-family: 'Roboto-light';
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}


.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #3E82F5;
    box-shadow: inset 0px 0px 0px 2px #fff;
}


.radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

#date_range_slider {
  margin-top: 100px;
}

.ui-rangeSlider .ui-rangeSlider-handle {
    width: 6px;
    height: 22px;
    background: #AAA;
    background: rgba(100,100,100,.3);
    cursor: col-resize;
}

.ui-rangeSlider .ui-rangeSlider-container {
  background: #eee;
  height: 10px;
  border-radius: 10px;
}
.ui-rangeSlider .ui-rangeSlider-label {
  bottom: 25px;
  color: #8A8A8A;
  background: transparent;
  padding: 5px;
  font: bold 11px/1 arial;
}
.ui-rangeSlider .ui-rangeSlider-handle {
  background: #112F59;
  border-radius: 10px;
  width: 12px;
  margin-top: -5px;
}
.ui-rangeSlider .ui-rangeSlider-bar {
  background: #2989d8;
  background: -moz-linear-gradient(left,  #2989d8 0%, #1e5799 100%);
  background: -webkit-linear-gradient(left,  #2989d8 0%,#1e5799 100%);
  background: linear-gradient(to right,  #2989d8 0%,#1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#1e5799',GradientType=1 );
  height: 10px;
  border-radius: 10px;
}
.ui-rangeSlider .ui-rangeSlider-innerBar {
  background: transparent;
  height: 20px;
}

/* === TERMINA FILTROS === */



/* === SECCION CARTAS DE MEDICAMENTOS === */


/* odometer */

.contador {
  __font-size: 60px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 76px !important;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  z-index: 1;
}

.odometer-inside {
  height: 76px !important;
  __margin-top: -15px;
  margin-top: 15px;
}

.odometer-value {
  __font-size: 60px;
  font-size: 30px;
  color: #112F59;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.circulos_tarjetas_blanco_pequeno .contador {
  __font-size: 60px;
  font-size: 13px !important;
  text-align: center;
  width: 100%;
  height: 76px !important;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  z-index: 1;
}

.circulos_tarjetas_blanco_pequeno .odometer-inside {
  height: 76px !important;
  __margin-top: -15px;
  margin-top: 28px !important;
}

.circulos_tarjetas_blanco_pequeno .odometer-value {
  __font-size: 60px;
  font-size: 13px;
  color: #112F59;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

/* termina odometer */

/* === icono rezise cartas === */ 

.fa.fa-arrows-alt {
 font-size: 14px;
 position: relative;
 color: #fff;
 top: 4px;
}

/* === termina icono rezise cartas === */ 

termina icono rezise cartas 

.contenedor_banda_blanca {
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 100%;
    z-index: 0;
}

.contenedor_banda_blanca_completa {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99%;
    z-index: 0;
}

.contenedor_boton_flip {
  position:absolute;
  bottom: 75px;
  right: -14px;
  cursor: pointer;
  z-index: 0;
  background-color: #FFCC32; 
  width: 49px;
  height: 50px;
}

.cont_rever {
  z-index: 1;
}

.chart_reverso {
  margin-top: -70px;
}

span.titulos_cartas {
  __font-size: 16px;
  font-size: 13px;
  color: white;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  __background-color: #5995f6;
  padding: 4px;
}

.titulos_cartas i {
  font-size: 17px;
  color: #fff;
  position: relative;
  top: 2px;
}

/* === DIV EXPANDIDO === */

.titulos_cartas_modal {
  __font-size: 16px;
  font-size: 15px;
  color: #000;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  __background-color: #5995f6;
  padding: 4px;
}

.titulos_cartas_modal i {
  font-size: 20px;
  color: #000;
  position: relative;
  top: 2px;
}

.fa.fa-times {
    font-size: 24px;
    position: relative;
    color: #000;
    top: 12px;
    left: 16px;
}

.tabla_info_regalias {
  margin-top: 20px;
  border-collapse:collapse;
  border-spacing:0;
}

.tabla_info_regalias {border-collapse:collapse;border-spacing:0;}
.tabla_info_regalias td{font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word;text-align: center;}
.tabla_info_regalias th{font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif; font-size:13px;font-weight:bold;padding:10px 5px;overflow:hidden;word-wrap: break-word;text-align: center;}
.tabla_info_regalias .contenido_tablas{vertical-align:middle; text-align: center;}

td.celda_min_pequena, th.celda_min_pequena {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word; width: 300px !important; text-align: center;width: 40px !important;
}

td.celda_pequena, th.celda_pequena {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word; width: 300px !important; text-align: center;width: 90px !important;
}
td.celda_minv2_pequena, th.celda_minv2_pequena {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word; width: 300px !important; text-align: center;width: 94px !important;
}

td.celda_med_que, th.celda_med_que {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word;  text-align: center;width: 107px !important;
}

td.celda_mediana, th.celda_mediana {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word; width: 300px !important; text-align: center;width: 150px !important;
}

td.celda_grande, th.celda_grande {
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;font-size:12.5px;padding:10px 5px;overflow:hidden;word-wrap: break-word; width: 300px !important; text-align: center;width: 300px !important;
}

/* === TERMINA DIV EXPANDIDO === */


/* === ESTILOS PDF === */

.contenido_soportes {
  position: relative;
  top: 60px;
}

.contenedor_pdf_historia {
  width: 370px;
  margin: 0 auto;
}

.contenedor_pdf {
  width: 200px;
  margin: 0 auto;
}

ul.pdf_vertical li {
  display:inline-block; 
  padding-left: 10px;
  font-weight: 900;
}

ul.pdf_vertical li.modificatorio {
  display:inline-block; 
  padding-left: 10px;
  font-size: 22px;
  font-weight: 900;
}

/* === TERMINA ESTILOS PDF === */


/* === ESTILOS SLIDE === */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.imagenes_slider {
  width: 100%;
  height: auto;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

/* === TERMINA ESTILOS SLIDE === */

span.titulos_cartas_azul {
  font-size: 16px;
  color: white;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  background-color: #5995f6;
  padding: 4px;
}

span.titulo_cartas_metricas {
  font-size: 15px;
  color: #5E5E5E;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.contenedor_subtexto_numero {
    position: absolute;
    bottom: 45px;
    left: 0px;
    width: 100%;
}

.contenedor_subtexto_contador {
    position: absolute;
    bottom: 45px;
    left: 0px;
    width: 50%;
    margin-left: 25%;
    background-color: #fff;
    z-index: 9999;
}

.contenedor_subtexto_contador  p span.subtexto_tarjetas, .contenedor_subtexto_contador  p span.subtexto_tarjetas i.fa.fa-search {
    color: #979A9D;
}

.contenedor_subtexto_icono_reloj {
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
}

.contenedor_subtexto_icono_reloj p span.subtexto_tarjetas i.fa.fa-clock-o {
  font-size: 30px;
  color: #979A9D;
}

.contenedor_subtexto_icono_estrella {
    position: absolute;
    bottom: 19px;
    left: 0px;
    width: 100%;
}

.icono_estrella_mapa{
  color:#FFFFFF;
  font-size:14px;
}

.icono_star_texto_numero {
  font-size: 50px;
  color: #FFCC32;
}

.numero_consulta_tarjetas {
  font-size: 50px;
  color: #112F59;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.numero_consulta_tarjetas_reloj {
  font-size: 50px;
  color: #112F59;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

p.texto_tarjetas {
  font-size: 20px;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  color:#5E5E5E;
  text-align: center;
}

.contenedor_subtexto_versus {
    position: absolute;
    bottom: 20px;
    left: 3px;
    width: 100%;
}

.contenedor_subtexto {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
}

p.subtexto_tarjetas {
  font-size: 14px;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  color:#979a9d;
  text-align: center;
}

span.texto_dinamico {
  font-size: 20px;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  color:#5995f6;
  font-weight: 800;
}

span.icono_star_texto{
  color: #FFCC32;
}

.circulos_tarjetas_azul {
     width: 190px;
     height: 190px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #3E82F5;
     margin: 0 auto;
     margin-top: 8px;
     position: relative;
     box-shadow: -10px 0px rgba(60,130,245,0.2); 
     -moz-box-shadow: -10px 0px rgba(60,130,245,0.2); 
     -webkit-box-shadow: -10px 0px rgba(60,130,245,0.2); 
     -o-box-shadow: -10px 0px rgba(60,130,245,0.2); 
}

.circulos_tarjetas_blanco {
     __width: 190px;
     __height: 190px;
     width: 120px;
     height: 120px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FFF;
     margin: 0 auto;
     margin-top: 8px;
     position: relative;
     box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -moz-box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -webkit-box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -o-box-shadow: -10px 0px rgba(255,255,255,0.2); 
}

.circulos_tarjetas_blanco_pequeno {
     __width: 190px;
     __height: 190px;
     width: 46px;
     height: 46px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FFF;
     margin: 0 auto;
     margin-top: -31px;
     margin-right: 10%;
     position: relative;
     box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -moz-box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -webkit-box-shadow: -10px 0px rgba(255,255,255,0.2); 
     -o-box-shadow: -10px 0px rgba(255,255,255,0.2); 
}

.circulos_tarjetas_gris {
     width: 190px;
     height: 190px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: rgba(229,230,229,0.3); 
     margin: 0 auto;
     margin-top: 8px;
     position: relative;
     box-shadow: -10px 0px rgba(250,250,249,0.2); 
     -moz-box-shadow: -10px 0px rgba(255,255,249,0.2); 
     -webkit-box-shadow: -10px 0px rgba(255,255,249,0.2); 
     -o-box-shadow: -10px 0px rgba(255,255,249,0.2); 
}

.banda_cartas_blanca_completa {
  width: 100%;
  height: 200px;
  border-radius: 2px;
  background-color: #FFF; 
}

.banda_cartas_blanca {
  width: 99%;
  height: 200px;
  border-radius: 2px;
  background-color: #FFF; 
}

.boton_carta {
  width: 7.5%;
  height: 50px;
  position: absolute;
  bottom: 18.5%;
  right: 44px;
  
  cursor: pointer;
}

.boton_carta .glyphicon.glyphicon-menu-right {
  color: white;
  position: relative;
  vertical-align: middle;
  margin-left: 4px;
  margin-top: 22px;
  font-size: 23px;
}

.banda_cartas_blanca_reverso {
  width: 100%;
  height: 28em; 
  background-color: #FFF;
}

.boton_carta_reverso {
  width: 7.5%;
  height: 50px;
  position: absolute;
  bottom: 18.5%;
  right: 15px;
  background-color: #FFCC32; 
  cursor: pointer;
}

.boton_carta_reverso .glyphicon.glyphicon-menu-left {
  color: white;
  position: relative;
  vertical-align: middle;
  margin-left: 3px;
  margin-top: 13px;
  font-size: 23px;
}

.carta_equipo {
 background-color: #344555; 
 height: 100%;
 width: 100%;
}

.carta_equipo_linea {
  width: 75px;
  height: 3px;
  border-radius: 2px;
  background-color: #344555; 
}

.carta_objetivo_uno {
 background-color: #00A1D8; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_uno_linea {
  width: 110px;
  height: 3px;
  border-radius: 2px;
  background-color: #00A1D8; 
}

.carta_objetivo_dos {
 background-color: #003588; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_dos_linea {
  width: 270px;
  height: 3px;
  border-radius: 2px;
  background-color: #003588; 
}

.carta_objetivo_tres {
 background-color: #A9C148; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_tres_linea {
  width: 145px;
  height: 3px;
  border-radius: 2px;
  background-color: #A9C148;  
}

.carta_objetivo_cuatro {
 background-color: #65A640; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_cuatro_linea {
  width: 260px;
  height: 3px;
  border-radius: 2px;
  background-color: #65A640;  
}

.carta_objetivo_cinco {
 background-color: #FFB942; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_cinco_linea {
  width: 360px;
  height: 3px;
  border-radius: 2px;
  background-color: #FFB942;  
}

.carta_objetivo_seis {
 background-color: #F33C3F; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_seis_linea {
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #F33C3F;  
}

.carta_objetivo_siete {
 background-color: #810065; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_siete_linea {
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #810065;  
}

.carta_objetivo_ocho {
 background-color: #F6703D; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_ocho_linea {
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #F6703D;  
}

.carta_objetivo_nueve {
 background-color: #D74C84; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_nueve_linea {
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #D74C84;  
}

.carta_objetivo_diez {
 background-color: #AFC51B; 
 height: 100%;
 width: 100%;
}

.carta_objetivo_diez_linea {
  width: 200px;
  height: 3px;
  border-radius: 2px;
  background-color: #AFC51B;  
}

.carta_medicamento_blanca {
 background: #FFF; 
 height: 100%;
 width: 100%;
}

.carta_medicamento_blanca_metricas {
  background: #FFF; 
  height: 100%;
  width: 100%;
}

.carta_medicamento_blanca_reversa {
 background: #FFF; 
}


/* === TERMINA SECCION CARTAS DE MEDICAMENTOS === */




/* === MENU PRINCIPAL === */

.selector_triangulo {
  width: 650px;
  height: 30px;
  position: relative;
}

.selector_triangulo .triangle {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 55px;
  left: 55px;
}

/* === TERMINA MENU PRINCIPAL === */


/* === PANTALLA DE HISTORIA === */

.infografia_contornos {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

/* === TERMINA PANTALLA DE HISTORIA === */



/* === METRICAS === */


.linea_contenedor {
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #BDBDBD;
}

.linea_contenedor_azul {
  width: 135px;
  height: 3px;
  border-radius: 2px;
  __background-color: #3C82F5;
}


#expandir{
  display: none;
  position: absolute;
  background-color:#fff;
  height: 1px;
  width:0.1px;
  left: 24px;
  z-index: 3 !important;
  border: 4px solid;
  border-top-color: #003588;
  border-left-color: #003588;
  border-right-color: #003588;
  border-bottom-color: #003588;
  __-webkit-transition: all .5s linear;

}

#expandir:hover {
    __overflow-Y: scroll !important;
    -webkit-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    -moz-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    __-webkit-transition: all .5s linear;
}

#expandir2{
  display: none;
  position: absolute;
  background-color:#fff;
  height: 1px;
  width:0.1px;
  left: 24px;
  z-index: 3 !important;
  border: 4px solid;
  border-top-color: #003588;
  border-left-color: #003588;
  border-right-color: #003588;
  border-bottom-color: #003588;
  __-webkit-transition: all .5s linear;

}

#expandir2:hover {
    __overflow-Y: scroll !important;
    -webkit-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    -moz-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    __-webkit-transition: all .5s linear;
}


.btn_cerra_tabla_info {
  width: 50px;
  height: 50px;
  position: relative;
  left: 11px;
  top: 8px;
}


.btn_abrir_tabla_info {
  width: 27px;
  height: 27px;
  position: relative;
  left: 9px;
  top: 10px;
}

.fa.fa-arrows-alt {
    font-size: 14px;
    position: relative;
    color: #fff;
    top: 6px;
    left: 1px;
}

.tablas_info {
  height: 630px;
  overflow-y: scroll;
  overflow-x: none;
}

/* === ESTILOS DE CARTAS PEQUEÑAS === */

.titulos_cartas, .titulo_base {
  font-size: 13px;
  color: #5E5E5E;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.contenedor_cantidades {
  width: 100%;
  height: 62px;
  background-color: #FAFCFA;
  border-top: 1px solid #E7EAEC !important;
  border-bottom: 1px solid #E7EAEC !important;
}

.dato_numero {
  font-size: 35px;
  color: #979A9D;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.dato_numero_solo {
  font-size: 35px;
  color: #979A9D;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 5px;
}

.subtitulos_cartas {
  font-size: 12px;
  color: #5E5E5E;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: -15px;
}

.titulo_base {
  font-size: 12px;
  color: #5E5E5E;
  font-weight: 500;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

/* === TEMRINA ESTILOS DE CARTAS PEQUEÑAS === */


/* === TABLAS CARTAS === */

.tabla_servicios  {
  border-collapse:collapse;
  border-spacing:0;
  width: 100%;
}

.tabla_servicios td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  color:#669;
}

.tabla_servicios th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-bottom: 1px solid #E7EAEC !important;
  color:#039;
}

.tabla_servicios .tabla_servicios_dato{
  color:transparent;
  text-align:center;
  vertical-align:middle;
  background-color: #FAFCFA;
}

.tabla_servicios .tabla_servicios_dato p {
  font-size: 25px;
  color: #979A9D;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.tabla_servicios .tabla_servicios_titulo{
  color:transparent;
  vertical-align:center;
  vertical-align:middle;
}

.tabla_servicios .tabla_servicios_titulo h5 {
  font-size: 15px;
  color: #5E5E5E;
  font-weight: 500;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: 0px;
}

/* === TERMINA TABLAS CARTAS === */


/* === CARTA OPINIONES === */

.dato_opiniones {
  font-size: 27px;
  color: #979A9D;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.contenedor_texto_opiniones {
  border-bottom: 1px solid #E7EAEC !important;
  padding-bottom: 10px;
}

.contenedor_negativas {
  border-right: 1px solid #E7EAEC !important;
}

.titulo_negativas {
  font-size: 13px;
  color: #F64E00;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: -15px;
}

.titulos_seccion_tabla_opiniones {
  font-size: 13px;
  color: #979A9D;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.dato_preguntas_negativo, .dato_solicitudes_negativo, .dato_comentarios_negativo {
  font-size: 13px;
  color: #F64E00;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.contenedor_positivas {
  border-left: 1px solid #E7EAEC !important;
}

.dato_preguntas_positivo, .dato_solicitudes_positivo, .dato_comentarios_positivo {
  font-size: 13px;
  color: #00B900;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.titulo_positivas {
  font-size: 13px;
  color: #00B900;
  font-weight: 800;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  position: relative;
  margin-top: -15px;
}


/* === TERMINA CARTA OPINIONES === */


/* === CARTA SERVICIO CALIFICADO*/

.titulo_servicio {
  font-size: 13px;
  color: #5E5E5E;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.stars {
  display: inline-block;
  font-size: 35px;
  line-height: 25px;
  position: relative;
  text-align: left;
  vertical-align: top;
  margin-top: -5px;
  margin-left: -92px;
  color: #FFD500;
}
.stars:after {
  content: "☆☆☆☆☆";
}
.stars--large {
  font-size: 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .stars--large {
    width: 230px;
  }
}
.stars span {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}
.stars span:after {
  content: "★★★★★";
}

.dato_start {
  font-size: 15px;
  color: #5E5E5E;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  position: absolute;
  margin-top: -18px;
}

.cantidad_star_separado {
  position: relative;
  left: 10px;
}

.cantidad_star_separado i {
  font-size: 15px;
  color: #979A9D;
}

.dato_cantidad_separado {
  font-size: 15px;
  color: #979A9D;
}

/* === TERMINA CARTA SERVICIO CALIFICADO*/


/* === CARTA DE RECOMENDACIONES === */

#contenedor-flip .carousel-inner {
  height: 228px;
}

#contenedor-flip .carousel-inner .item {
  height: 228px;
}

#contenedor-flip .carousel-indicators {
  bottom: 0px !important;
}

#contenedor-flip .carousel-indicators .active {
  background-color: #5E5E5E;
}

#contenedor-flip .carousel-indicators li {
  background-color: #E5E5E5;
}

.texto_recomendacion {
  font-size: 13px;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  text-align: left;
  width: 80%;
  margin-left: 20px;
  margin-top: 30px;
}

.texto_recomendacion .texto_recalcado_servicio {
  color: #3E82F5;
  font-size: 17px;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}

.porcentaje_recomendacion {
  font-size: 40px;
  color: #3E82F5;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  position: relative;
  left: -20px;
  margin-top: 50px;
}

/* === TERMINA CARTA DE RECOMENDACIONES === */


/* === ESTILOS PARA LAS CARTAS EN TABLAS === */

.titulos_cartas_tablas {
  font-size: 12px;
  color: #5E5E5E;
  font-weight: 800;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #E7EAEC !important;
  padding-bottom: 8px;
}

.titulos {
  border-bottom: 1px solid #E7EAEC !important;
  padding-bottom: 5px;
  margin-top: -10px;
}

.titulos .titulos_datos {
  font-size: 13px;
  color: #000;
  font-weight: 500;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  position: relative;
  left: 10px;
}

.titulos .datos_parentesis {
  font-size: 13px;
  color: #5E5E5E;
  font-weight: 500;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  position: relative;
  left: 10px;
}

/* === TERMINA ESTILOS PARA LAS CARTAS EN TABLAS === */

/* === CARTA DE AFILIACION === */

.c3-chart-arcs-title {
  fill: black;
  font-size: 12px;
}

.c3-chart-arc text {
  fill:none;
}

/* === TERMINA CARTA DE AFILIACION === */


/* === CARTA PERCEPCION DE LA CALIDAD POR SERVICIO === */

#percepcion .carousel-inner {
  height: 365px;
}

#percepcion .carousel-inner .item {
  height: 365px;
}

#percepcion .carousel-indicators {
  bottom: 0px !important;
}

#percepcion .carousel-indicators .active {
  background-color: #979A9D;
}

#percepcion .carousel-indicators li {
  background-color: #979A9D;
}

.contenedor_usuario_total  p i {
  color: #979A9D;
  font-size: 30px;
  padding: inherit;
  position: relative;
  top: 15px;
}

.dato_total_usuarios {
  font-size: 20px;
  color: #979A9D;
  font-weight: 500;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}

.stars_percepcion {
  display: inline-block;
  font-size: 35px;
  line-height: 25px;
  position: relative;
  text-align: left;
  vertical-align: top;
  margin-top: -5px;
  margin-left: 0px;
  color: #FFD500;
}
.stars_percepcion:after {
  content: "☆☆☆☆☆";
}
.stars--large {
  font-size: 30px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .stars--large {
    width: 230px;
  }
}
.stars_percepcion span {
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
}
.stars_percepcion span:after {
  content: "★★★★★";
}

.tabla_percepcion {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#aabcfe; 
  width: 100%;
}

.tabla_percepcion .header_tabla {
  border-bottom: 1px solid #E7EAEC !important;
}

.tabla_percepcion td{font-family:Arial, sans-serif;
  font-size:14px;padding:10px 5px;
  overflow:hidden;
  word-break:normal;
  color:#669;
  background-color:transparent;
}

.tabla_percepcion th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  overflow:hidden;
  word-break:normal;
  background-color:transparent;
  border-left: 1px solid #E7EAEC !important;
}

.tabla_percepcion .titulo_servicio_tabla{
  background-color:#ffffff;
  color: #979A9D;
  vertical-align:top
}

.tabla_percepcion .casillas_percepcion{
  background-color:#ffffff;
  color:#000000;
  vertical-align:top
}

.tabla_percepcion .casillas_percepcion_numero {
  font-size: 15px;
  font-weight: 900;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  color: #979A9D;
}

/* === SEMAFORO === */

ul.semaforo {
display: inline-block;
position: relative;
width: 77px;
margin: inherit;
padding: 15px;
list-style-type: none;
background: #FAFCFA;

}
ul.semaforo li {
position:relative;
width: 50px;
height: 50px;
border: 4px solid #fff;
border-radius: 50%;
margin: 10px 0;
background: linear-gradient(top, rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4),
inset -2px -1px 40px rgba(0,0,0,0.4),
0 0 1px #979A9D;
}
ul.semaforo li:after {
content: "";
width: 20px;
height: 10px;
position: absolute;
left: 20px;
top: 10px;
border-radius: 30px / 15px;
}

.cambio_rojo_apagado {
background: #F64B00;
opacity: .5;
}
.cambio_amarillo_apagado {
background: #FFD500;
opacity: .5;
}
.cambio_verde_apagado {
background: #00B900;
opacity: .5;
}

.cambio_rojo_prendido {
background: #F64B00;
}
.cambio_amarillo_prendido {
background: #FFD500;
}
.cambio_verde_prendido {
background: #00B900;
}

/* === TERMINA SEMAFORO === */

/* === TERMINA CARTA PERCEPCION DE LA CALIDAD POR SERVICIO === */


/* === CARTA TASA DE SATISFACCION === */

.chart-gauge {
width: 400px;
margin: 0px auto  
} 

.chart-first {
fill: #F64B00;
}

.chart-second {
fill: #FFD500;
}

.chart-third{
fill: #00B900;
}

.needle, .needle-center
{
fill: #979A9D;
z-index: 9999;
}

.text {
color: "#112864";
font-size: 16px;
}

#tasa_satisfaccion svg {
font: 10px sans-serif;
height: 202px;
z-index: 9999;
margin-top: -6px;
}

#tasa_satisfaccion p.titulo_satisfaccion i.poco_satisfecho {
color: #F64B00;
}

#tasa_satisfaccion p.titulo_satisfaccion i.satisfecho {
  color: #FFD500;
}

#tasa_satisfaccion p.titulo_satisfaccion i.muy_satisfecho {
  color: #00B900;
}

.titulo_satisfaccion {
  font-size: 14px;
  height: 8px;
}
/* === TERMINA CARTA TASA DE SATISFACCION === */


/* === CARTA CALIDAD DE LA ATENCION PERCIBIDA */

h4.titulo_edades {
  font-size: 13px;
  font-weight: 900;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  color: #5E5E5E;
}

h4.titulo_edades span {#5E5E5E
  font-size: 13px;
  font-weight: 900;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  color: #979A9D;
}

div.porcentaje_edades span {
  font-size: 13px;
  font-weight: 900;
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
  color: #979A9D;
}

/* === TERMINA CARTA CALIDAD DE LA ATENCION PERCIBIDA */

#filtroNube{
  width:500px;
  line-height: 0.8;
  font-size: 12px;
  top:25px;
  right:20px;
  margin: 0 auto;
}

.colorCategoria{
    border: 1px solid #000;
    width:15px;
    height: 15px;
    display:inline-block;
    background-color:blue; 
    position: relative;
    top: 5px;
}
/*
.ips {
  background-color:red;
}*/

/* TERMINA ESTILOS PARA LOS CHECKBOX DE LA GRAFICA NUBE DE PALABRAS */

#scatter_uno {
  width: 100%;
  //min-height: 158px;
}

#scatter_dos {
  width: 100%;
  //min-height: 158px;
}

.text-num-datos {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
}


p {
  font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
}


/* ====== GRAFICA MAPA ====== */

.depto-borde {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 1;
}

div.tooltip {

    /*position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: 12px;
    background: #afcbe4;
    border: 1px solid #000000;
    border-radius: 8px;
    pointer-events: none;
    color: #000000;
    font-weight: bold;*/
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: 12px;
    background: transparent;
    border: transparent;
    border-radius: 8px;
    pointer-events: none;
    color: #000000;
    font-weight: bold;
}

div.tooltip-sector {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font-size: 12px;
    background: #afcbe4;
    border: 1px solid #000000;
    border-radius: 8px;
    pointer-events: none;
    color: #000000;
    font-weight: normal;
}

/* ====== TERMINA GRAFICA MAPA ====== */


/* ====== TABLAS ====== */

.tabla_comentarios  {border-collapse:collapse;border-spacing:0;border-color: #000;width: 100%;}
.tabla_comentarios td{font-family:Arial, sans-serif;font-size:13px;overflow:hidden;word-break:normal;text-align:center; color: #737373;font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;}
.tabla_comentarios th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;overflow:hidden;word-break:normal;font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;vertical-align: top}

/* ====== TERMINA TABLAS ====== */



/* ====== LOGUIN ======= */

.contenedor-ingre-portal {
    overflow: hidden;
    position: absolute;
    height: 250px;
    width: 500px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -250px;
}

/* ====== TERMINA LOGUIN ======= */


/* ====== GRIDSTACK PORTAL ======= */


.grid-stack-item-content {
    color: #2c3e50;
    text-align: center;
    height: 100%;
    __box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0 !important;
    -webkit-transition: all .5s linear;
    overflow: hidden !important;
}

#infografias_historia .grid-stack-item-content:hover{
  -webkit-box-shadow: inherit !important;
    -moz-box-shadow: inherit !important;
    box-shadow: inherit !important;
}

.grid-stack-item-content:hover {
    __overflow-Y: scroll !important;
    -webkit-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    -moz-box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    box-shadow: -4px 3px 10px -2px rgba(66,66,66,0.95);
    -webkit-transition: all .5s linear;
}

#mapa_portal_territorio .grid-stack-item-content {
   color: #2c3e50;
    text-align: center;
    height: 100%;
    border-radius: 0 !important;
    -webkit-transition: all .5s linear;
    overflow: hidden !important;
}

#mapa_portal_territorio .grid-stack-item-content:hover {
    __overflow-Y: scroll !important;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
    -webkit-transition: all .5s linear;

}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    width: auto;
    
    overflow-x: hidden;
    overflow-y: auto;
}


/* ====== TERMINA GRIDSTACK PORTAL ======= */


/* ======= SCROLL BAR =======*/

.grid-stack-item-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #CDCDCD;
}

.grid-stack-item-content::-webkit-scrollbar-track {
    background-color: #FFF;
}

.grid-stack-item-content::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #CDCDCD;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #353942;
}

/* ======= TERMINA SCROLL BAR =======*/


/* ======= FUENTES ======== */

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/roboto/roboto-light-webfont.eot#') format('eot'),
        url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
        url('../fonts/roboto/Roboto-light.ttf') format('truetype'),
        url('../fonts/roboto/roboto-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot#') format('eot'),
        url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
        url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/roboto/roboto-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #E5E6E5;
  line-height: normal;
  font-size: 16px;
  overflow-Y: scroll;
  overflow-X: hidden;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

a:active {
  color: #fff !important;
}

.bios {
  height: 55px !important;
  width: 52px !important;
}

.gobernacion {
  height: 55px !important;
  width: 155px !important;
}

.regalias {
  height: 55px !important;
  width: 127px !important;
}

::-moz-selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #5af;
  color: #fff;
  text-shadow: none;
}

.titulo-pagina {
  margin-bottom: 20px;
  margin-left: 7px;
  __text-shadow: 1px 4px 6px #c6c6c6, 0 0 0 #000, 1px 4px 6px #c6c6c6;
}
.titulo-pagina h3 {
  font-size: 22px;
  font-weight: 500;
  display: block;
}

.menu-portal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background-image: url(../img/backgraund_menu.jpg);
  z-index: 10000;
  text-align: center;
}
.menu-portal ul {
  margin-bottom: 0;
}

.logo-portal, .logo-portal-hiden {
  position: relative;
  width:115px; 
  height:54px;
  margin-top: -12px;
  margin-left: 12px;
}

.logo-hidden {
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
  color: #222533;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.opciones-usuario {
  margin-right: 10px;
  position: relative;
}
.opciones-usuario > li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}

.item-contenido-deslizable.active {
  display: block;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.item-contenido-deslizable.grafica.active {
  display: block;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.lg-text {
  font-size: 12px;
  color: #333;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  color: #353942;
}

.fa-cog:before {
  color: white;
  font-size: 20px;
}

.fa-cog.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa-question-circle:before {
  color: white;
  font-size: 20px;
}

.fa-question-circle.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa.fa-line-chart.grafica {
  color: white;
  font-size: 20px;
}

.fa.fa-line-chart.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa.fa-pie-chart.grafica {
  color: white;
  font-size: 20px;
}

.fa.fa-pie-chart.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa.fa-area-chart.grafica {
  color: white;
  font-size: 20px;
}

.fa.fa-area-chart.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa.fa-bar-chart.grafica {
  color: white;
  font-size: 20px;
}

.fa.fa-bar-chart.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.fa.fa-spinner.grafica {
  color: white;
  font-size: 20px;
}

.fa.fa-spinner.grafica:before {
  color: #515d6e;
  font-size: 13px;
}

.lg-text-nombre {
  font-size: 13px;
  font-weight: 600;
  color: white;
}

.sm-text {
  font-size: 11px;
  color: #c6c6c6;
}

.md-text {
  font-size: 12px;
  color: #c6c6c6;
}

.notificacion-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
}
.notificacion-item:hover {
  background: #F5F5F5;
}
.notificacion-item .contenido-notificacion {
  color: #404040;
}

.cuerpo-notificacion {
  color: black;
  vertical-align: middle;
  margin-left: 30px;
}

.logo-container {
  width: 225px;
  text-align: center;
  height: 50px;
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.menu-usuario {
  float: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.toggle-btn,
.logo {
  text-decoration: none;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
}

.logo i {
  padding-top: 2px;
  vertical-align: middle;
  margin-right: 10px;
}

.toggle-btn:hover {
  background: transparent;
}

.menu-item {
  position: relative;
  padding: 0 0px;
  line-height: 30px;
  height: 30px;
  color: #FFF;
  z-index: 5;
  font-size: 20px;
  display: inline-block;
}

.por-badge {
  height: 20px;
  color: white;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
}

.menu-badge {
  position: absolute;
  min-width: 17px;
  min-height: 17px;
  line-height: 17px;
  font-family: 'Roboto-light';
  color: white;
  border-radius: 100%;
  font-size: 10px;
  background: #FF6BA3;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  top: -5px;
  left: 44px;
  z-index: 1;
}

.sm-menu {
  min-width: 150px !important;
}
.sm-menu > li {
  padding: 10px;
  text-align: left;
}
.sm-menu > li i {
  margin: 0 10px 0 0;
}
.sm-menu > li > a {
  padding: 10px;
}

.item-contenido-deslizable {
  position: absolute;
  right: -10px;
  top: 55px;
  min-width: 250px;
  background: white;
  border: 1px solid #BDBDBD;
  border-top: 5px solid #353942;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 9999;
}

.item-contenido-deslizable.grafica {
  position: absolute;
  right: -13px;
  top: 37px;
  min-width: 190px;
  background: white;
  border: 1px solid #BDBDBD;
  border-top: 5px solid #353942;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
  z-index: 9999;
}

.usuario {
    position: absolute;
    right: 10px;
    top: 53px;
    min-width: 250px;
    background: white;
    border: 1px solid #BDBDBD;
    border-top: 5px solid #BDBDBD;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
}


.item-contenido-deslizable:before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #BDBDBD transparent;
  top: -14px;
  right: 8px;
}

.item-contenido-deslizable.grafica:before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #353942 transparent;
  top: -14px;
  right: 8px;
}

.item-contenido-deslizable.por-opciones {
  right: 0 !important;
  left: auto !important;
}
.item-contenido-deslizable.grafica.por-opciones {
  right: 0 !important;
  left: auto !important;
}
.item-contenido-deslizable.por-opciones:before {
  right: 5px !important;
  left: auto !important;
}
.item-contenido-deslizable.grafica.por-opciones:before {
  right: 5px !important;
  left: auto !important;
}
.item-contenido-deslizable.por-opciones > .notificacion-item:hover {
  background: #fff !important;
}
.item-contenido-deslizable.grafica.por-opciones > .notificacion-item:hover {
  background: #fff !important;
}
.item-contenido-deslizable.por-opciones > .notificacion-item i {
  font-size: 24px;
}
.item-contenido-deslizable.grafica.por-opciones > .notificacion-item i {
  font-size: 24px;
}

.footer-deslizable,
.titulo-contenido-deslizable {
  display: block !important;
  background: #353942;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 !important;
  padding: 6px;
  text-align: center;
}
.footer-deslizable > a,
.titulo-contenido-deslizable > a {
  color: white;
  line-height: 12px;
  text-decoration: none;
}

.titulo-contenido-deslizable {
  border-bottom: 1px solid #353942;
}

.footer-deslizable {
  border-top: 1px solid #353942;
}

.chk-pin {
  margin: 0 !important;
}
.chk-pin span {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 4px;
  background: crimson;
  border: 1px solid #f6f6f6;
}
.chk-pin span:after {
  content: "";
  position: absolute;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: -1px;
  left: 0px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.chk-pin input {
  display: none;
}
.chk-pin input:checked + span {
  background: #23AE89;
}
.chk-pin input:checked + span:after {
  left: 19px;
}

.hide {
  display: none;
}

.opcion-seleccionada {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.color-swatch {
  display: table;
  width: 90px;
  height: 25px;
  border-radius: 4px;
}
.color-swatch .colors {
  width: 25px;
  height: 25px;
  display: table-cell;
  cursor: pointer;
}
.color-swatch .colors input[type="radio"] {
  display: none;
}
.color-swatch .colors:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.color-swatch .colors:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.menu-lateral-portal {
  __position: relative;
  position: fixed;
  background: #fff;
  height: 100vh;
  __top: 50px;
  __left: 0;
  top: -25px;
  left: -14px;
  width: 25%;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.sidebar_lateral ul.navegacion_lateral li a {
  color: #8A8A8A;
}

.sidebar_lateral ul.drop li  {
    color: #8A8A8A;
    padding-top: 10px;
    margin-left: 11px;
}

.sidebar_lateral ul.navegacion_lateral_mapa li a {
  color: #8A8A8A;
}

.animacion-opciones {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  -webkit-transform: translate3d(-43px, 0, 0);
          transform: translate3d(-43px, 0, 0);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.txt-medio {
  font-size: 14px;
  font-family: 'Roboto-Regular', Helvetica, Arial, sans-serif;
  color: #000;
  position: relative;
  top: 10px;
}

.txt-verde{
  color:#353942;
}

.bg-verde{
  background:#353942;
}

.logo-container.nav-min {
  -webkit-transform: translate3d(-180px, 0, 0);
          transform: translate3d(-180px, 0, 0);
}
.logo-container.nav-min .logo {
  opacity: 0;
}
.logo-container.nav-min + .logo-hidden {
  opacity: 1;
  visibility: visible;
}

.body-wrapper {
  position: relative;
  __left: 230px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  
}

.body-wrapper.nav-min {
  __left: 50px;
}

.contenedor-tablas {
  height: auto;
  position: relative;
}

.por-collapse {
  height: 50px;
  __padding: 0;
  __opacity: 0;
  __overflow: hidden;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@media screen and (max-width: 450px) {
  .info-box i {
    opacity: .3;
  }

  .flat-theme .toggle-btn {
    right: 20px !important;
  }
  .flat-theme .menu-usuario .opciones-usuario:last-child {
    display: none;
  }
}
@media screen and (min-width: 850px) {

  #nav-icon3 {
          position: absolute;
          margin: -21px 50px;
      }

  .logo-container {
    height: 75px;
  }
  .logo-container .logo {
    line-height: 75px;
  }
  .logo-container .toggle-btn {
    line-height: 75px;
    height: auto;
  }

  .menu-usuario {
    padding: 10px;
  }

  .menu-lateral-portal {
    top: 75px;
  }

  .navegacion_lateral {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    height: 525px;
  }

  .navegacion_lateral_mapa {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    height: 420px;
    margin-top: -15px;
  }

  .titulo_filtro {
    font-size: 14px;
    width: 80%;
    color: #8A8A8A;
    border-bottom: 1px solid #8A8A8A;
    font-family: 'Roboto-light';
  }

  .contenedor_filtros {
    width:180px;
    height:400px;
    margin-left: 14%;
  }

.logo-container {
    width: 13%;
    text-align: center;
    height: 50px;
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

  .body-wrapper {
    top: 100px;
  }

  .flat-theme .toggle-btn {
    top: 20px !important;
  }

  .btn_sanduche {
    display: none;
  }
  
}
@media screen and (max-width: 850px) {
 
  .flat-theme .menu-badge {
    top: -3px;
  }
  .flat-theme .toggle-btn {
    right: 20px !important;
  }
  .flat-theme .body-wrapper {
    top: 125px !important;
  }
  .flat-theme .menu-lateral-portal {
    position: absolute;
  }
  .flat-theme .menu-portal {
    position: absolute;
  }
  .flat-theme .menu-portal .opciones-usuario > li:first-child {
    margin-left: 15px !important;
  }
  .flat-theme.sticky .logo-container {
    z-index: 10000;
  }
  .flat-theme.sticky .logo-container .toggle-btn {
    color: #89949B !important;
    position: fixed;
    right: 120px !important;
    background: #f6f6f6;
    top: 11px;
  }
  .flat-theme.sticky .logo-container .toggle-btn:hover {
    background: crimson;
    color: #fff !important;
  }
  .flat-theme.sticky .menu-portal {
    height: 50px;
  }
  .flat-theme.sticky .menu-lateral-portal {
    top: 50px;
    position: fixed;
  }
  .flat-theme.sticky .menu-usuario {
    background: #FFF !important;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .flat-theme.sticky .opciones-usuario {
    margin-left: 50px;
  }
  .flat-theme.sticky .brand-icon {
    margin-left: 0px;
  }
  .flat-theme.sticky .brand-icon:hover {
    color: #fff;
  }

  .menu-portal {
    height: 100px;
  }

  .logo-container.nav-min {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: #fff;
  }
  .logo-container.nav-min .logo {
    opacity: 1;
  }
  .logo-container.nav-min + .logo-hidden {
    display: none;
  }

  .logo-container {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
  }

  .menu-usuario {
    display: block;
    float: none;
    height: 50px;
    background: transparent;
  }
  .menu-usuario .opciones-usuario > li > a {
    font-size: 12px;
  }

   .list-img {
    __border-radius: 100%;
    position: relative;
    margin-top: -4px !important;
    width: 40px;
    height: 40px;
}

  .bios {
    height: 40px !important;
    width: 40px !important;
  }

  .gobernacion {
    height: 38px !important;
    width: 95px !important;
  }

  .regalias {
    height: 38px !important;
    width: 95px !important;
  }

  .logo-portal, .logo-portal-hiden {
    position: relative;
    width:85px; 
    height:40px;
    margin-top: -6px;
    margin-left: 12px;
  }

.item-contenido-deslizable {
    right: -9px;
    top: 40px;
}

.item-contenido-deslizable.grafica {
    right: -9px;
    top: 40px;
}

  .usuario {
    right: 2px;
    top: 40px;
}

  .menu-badge {
    font-size: 10px;
    min-width: 15px;
    min-height: 15px;
    line-height: 15px;
    margin-left: -15px;
    margin-top: 3px;
  }

  .menu-lateral-portal {
    top: 100px;
  }

  .navegacion_lateral {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    height: 580px;
}

.navegacion_lateral_mapa {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 10%;
    height: 420px;
    margin-top: -15px;
}

  .titulo_filtro {
    font-size: 14px;
    width: 60%;
    color: #8A8A8A;
    border-bottom: 1px solid #8A8A8A;
    font-family: 'Roboto-light';
  }

  .contenedor_filtros {
    width:180px;
    height:400px;
    margin-left: 14%;
  }

  .menu-lateral-portal.nav-min {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }

  .body-wrapper {
    top: 125px;
    position: relative;
  }

  .body-wrapper.nav-min {
    __left: 0px;
  }
}
.panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 0 !important;
  position: relative;
  __-webkit-transition: all .2s linear;
}

.panel-close {
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
}

.panel-heading {
  border-radius: 0;
  padding: 15px;
  border-bottom: 0 !important;
}

.panel-heading .panel-title {
  text-transform: none;
  color: #515d6e;
}

.panel-heading#panel-opciones-desplegables .panel-title .item-contenido-deslizable.grafica {
    text-transform: none;
    font-weight: normal;
    color: #515d6e;
    line-height: 16px;
}

/*.panel-heading#panel-opciones-desplegables .panel-title span {
    text-transform: none;
    float: left;
    font-weight: normal;
    margin-top: -2px;
}*/

.panel-heading#panel-opciones-desplegables .panel-title span {
    text-transform: none;
    float: left;
    font-weight: normal;
    margin-top: -12px;
    margin-left: -13px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
}
.overlay:before {
  content: "";
  height: 100%;
  vertical-align: middle;
  width: 1px;
  display: inline-block;
  margin-left: -5px;
}
.overlay .overlay-content {
  display: inline-block;
  vertical-align: middle;
}
.overlay i {
  display: block;
  position: inline-block;
  vertical-align: middle;
  color: black;
}

.panel-acciones {
  list-style: none;
  display: inline-block;
  float: right;
}

.panel-acciones li {
  display: inline-block;
  color: #515d6e;
  margin: 0 5px;
  cursor: pointer;
}

.panel-acciones-desplegables {
  list-style: none;
  display: inline-block;
  float: right;
  margin-top: -13px;
  margin-right: -10px;
  z-index: 1;
}

.panel-acciones-desplegables li {
  display: inline-block;
  color: #515d6e;
  margin: 0 5px;
  cursor: pointer;
}

.info-box {
  margin-bottom: 16px;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important;
}

.info-box i {
  display: block;
  background-clip: padding-box;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4.4em;
  position: absolute;
}

.info-box .value,
.info-box .heading {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  z-index: 10;
}

.info-box .heading {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}

.info-box .value {
  font-size: 2.1em;
  font-weight: 600;
  margin-top: 5px;
}

.list-group-item {
  margin: 5px 10px 25px 5px;
}
.list-group-item:after {
  content: "";
  display: table;
}

.portal-chat {
  border: 1px solid rgba(198, 198, 198, 0.5);
  padding: 0 10px;
  border-radius: 2px;
  position: relative;
}

.portal-chat-body {
  position: relative;
}

.list-group-item.left .portal-chat {
  margin-left: 50px;
}
.list-group-item.left .portal-chat .sm-text {
  float: right;
}
.list-group-item.left .portal-chat:after {
  content: "";
  border-top: 1px solid rgba(198, 198, 198, 0.5);
  border-left: 1px solid rgba(198, 198, 198, 0.5);
  height: 10px;
  width: 10px;
  background: white;
  position: absolute;
  left: -6px;
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.portal-chat-msg {
  font-size: 14px;
  color: #585f69;
}

.list-group-item.right .portal-chat {
  margin-right: 50px;
}
.list-group-item.right .portal-chat .lg-text {
  float: right;
}
.list-group-item.right .portal-chat:after {
  content: "";
  border-top: 1px solid rgba(198, 198, 198, 0.5);
  border-right: 1px solid rgba(198, 198, 198, 0.5);
  height: 10px;
  width: 10px;
  background: white;
  position: absolute;
  right: -6px;
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.list-icon {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  color: white;
  top: -5px;
}

.icon-shadow {
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.26);
}

.list-img {
  __border-radius: 100%;
  position: relative;
  margin-top: -10px;
  width: 55px;
  height: 55px;
}

.list-group {
  position: relative;
}

.list-group.group:before {
  content: "";
  position: absolute;
  background: rgba(198, 198, 198, 0.3);
  top: -20px;
  bottom: -20px;
  left: 25px;
  width: 1px;
}

.list-content {
  line-height: 1.3;
  margin-left: 50px;
}

.fa-spin {
  -webkit-animation: fa-spin .5s infinite linear;
  animation: fa-spin .5s infinite linear;
}

.brand-icon {
  font-size: 22px;
  height: 50px;
  display: inline-block;
  float: left;
  width: 50px;
  background-color: crimson;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 700;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin-left: -230px;
  display: none;
}

.flat-theme body {
  background: #f1f2f7;
}
.flat-theme .brand-icon {
  display: inline-block;
}
.flat-theme .logo {
  color: white;
}
.flat-theme .menu-portal {
  text-align: left;
}
.flat-theme .menu-portal .menu-usuario {
  float: none !important;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child {
  float: none !important;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child > li > ul.item-contenido-deslizable {
  left: 0;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child > li > ul.item-contenido-deslizable.grafica {
  left: 0;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child > li > ul.item-contenido-deslizable:before {
  left: 8px;
  right: 100%;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child > li > ul.item-contenido-deslizable.grafica:before {
  left: 8px;
  right: 100%;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario:last-child > li:first-child {
  margin-left: 30px;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario > li {
  text-align: center;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario > li > a {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #f6f6f6;
  display: inline-block;
  line-height: 32px;
}
.flat-theme .menu-portal .menu-usuario .opciones-usuario > li:hover > a {
  color: white !important;
}
.flat-theme .item-contenido-deslizable {
  border-color: crimson !important;
}
.flat-theme .item-contenido-deslizable.grafica {
  border-color: crimson !important;
}
.flat-theme .item-contenido-deslizable:before {
  border-color: crimson transparent;
}
.flat-theme .item-contenido-deslizable.grafica:before {
  border-color: crimson transparent;
}
.flat-theme .logo-container.nav-min {
  -webkit-transform: none;
          transform: none;
}
.flat-theme .logo-container.nav-min .logo {
  opacity: 1;
}
.flat-theme .logo-container.nav-min + .logo-hidden {
  opacity: 0;
}
.flat-theme .logo-container {
  background: crimson !important;
  position: relative;
  z-index: 1000;
}
.flat-theme .logo-container .toggle-btn {
  color: #fff !important;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  line-height: 30px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  right: -15px;
  background: red;
  top: 7.5px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.flat-theme .info-box {
  box-shadow: none !important;
  border-radius: 4px;
}
.flat-theme .panel {
  box-shadow: none !important;
  border-radius: 4px !important;
  border: none !important;
}
.flat-theme .panel .panel-heading {
  background: #fafafa !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.flat-theme .panel-default {
  border-color: none;
}

/* TABLA */

.tg  {border-collapse:collapse;border-spacing:0;border-color: #000;}
.tg td{font-family:Arial, sans-serif;font-size:12px;overflow:hidden;word-break:normal;text-align:center; color: #737373;}
.tg th{font-family:Arial, sans-serif;font-size:12px;font-weight:normal;overflow:hidden;word-break:normal;}
.titulo-tabla{color:#000;text-align:center;word-break:normal;}

/* TERMINA TABLA */


/* CAJAS */

.titulo-contenedor-largos {
  width: 110px;
  word-break:normal;
}

.banda-caja-mediana-uno {
  border-left: 7px solid #3E50B4 !important;
}

.banda-caja-mediana-dos {
  border-left: 7px solid #3C82F5 !important;
}

.banda-caja-mediana-tres {
  border-left: 7px solid #6A55C2 !important;
}

/* TERMINA CAJAS */


/* CALENDARIO PORTAL */

.calendario-portal {
  background: #fff; 
  cursor: pointer; 
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  width: 100%;
  font-size: 14px;
}

/* TERMINA CALENDARIO PORTAL */


/* BUSCADOR */

.buscador-portal:focus{
    width:200px;
    height:25px;
    border-radius:0px;
    padding: 0 20px;
    line-height: 2em;
    font-weight: 100;
    font-size: 12px;
    cursor:auto;
}
 

.buscador-portal{
    border:2px solid #fff;
    outline:none;
    width:15px;
    cursor:pointer;
    -webkit-transition:.2s all ease-in;
    -moz-transition:.2s all ease-in;
    transition:.2s all ease-in;
    height:15px;
    color:#fff;
    border-radius:40px;
    background:none;
    margin-top: 6px;
}
.close span{
width:3px;
height:14px;
border-radius:2px;
background-color: white;
color: white;
display:inline-block;
}

.front{
    position:absolute;
    right:24px;
    top:11px;
    transform: rotate(-45deg);
    opacity:0;
    animation-delay: 2s;
    -webkit-transition:.2s all ease-in;
    -moz-transition:.2s all ease-in;
    transition:.2s all ease-in;

}
        

.back{
    position:absolute;
    right:-2px;
    top:16px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition:.2s all ease-in;
} 
      
        

input:focus + div .front{
    opacity:1;
    -webkit-transition-delay: .2s; 
    -moz-transition-delay: .2s; 
    transition-delay: .2s;
    -webkit-transform: rotate(45deg);        
    -moz-transform: rotate(45deg);        
    transform: rotate(45deg);        
}
        

input:focus + div .back{
    right:24px;
    top:11px;
}

/* TERMINA BUSCADOR */

/* ====== EFECTO FLIP PARA LOS CONTENEDORES ======= */

#contenedor-flip {
    position: absolute;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#contenedor-flip div {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 999999;
}

#contenedor-flip .caraFlipUno {
      margin-left: -1px;
}

#contenedor-flip .caraFlipDos {
      margin-right: -1px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    
}
#contenedor-flip.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

/* ====== EFECTO FLIP PARA LOS CONTENEDORES ======= */


/* ====== CAJA INFORMATIVA DE LA GRAFICA ======= */

.informacion_grafica {
  width: 80%;
  text-align: left;
  //padding: 55px;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin: auto;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ====== TERMINO CAJA INFORMATIVA DE LA GRAFICA ======= */


/* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {

        /* === MENU LATERAL === */

        .navegacion_lateral {
            font-size: 12px;
        }

        span.opcione_menu_lateral {
            font-size: 12px;
        }

        .tag {
            margin-left: 28px;
            font-size: 12px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */

        .menu-usuario {
            float: right;
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            position: relative;
            margin-left: -150px;
            position: relative;
            left: -0.8%;
        }

        /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
          width: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-x='6'] {
          left: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
          min-width: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
          max-width: 100%;
        }*/

        .contenedor_menu_lateral {
          display: none;
        }

        .contenedor_tarjetas {
          margin-left: 0px;
          width: 135%;
        }

        .menu-lateral-portal {
            width: 55%;
            z-index: 9999;
        }

        .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 64%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_filtro_slider {
          display: none;
      }

      .contenedor_filtros_departamentos {
          margin-top: -72px;
      }

      span.titulos_cartas {
          font-size: 12px;
      }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

      /* === MENU LATERAL === */


        .navegacion_lateral {
            font-size: 12px;
        }

        span.opcione_menu_lateral {
            font-size: 12px;
        }

        .tag {
            margin-left: 28px;
            font-size: 12px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */

      .menu-usuario {
          float: right;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          position: relative;
          margin-left: -150px;
          position: relative;
          left: -1.8%;
      }

       /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
          width: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-x='6'] {
          left: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
          min-width: 100%;
        }

        .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
          max-width: 100%;
        }*/

        .linea_contenedor {
        width: 98%;
        height: 3px;
        border-radius: 2px;
        background-color: #BDBDBD;
      }

      .linea_contenedor_azul {
        width: 135px;
        height: 3px;
        border-radius: 2px;
        __background-color: #3C82F5;
      }

      .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 64%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_menu_lateral {
        display: none;
      }

      .contenedor_tarjetas {
          margin-left: 70px;
          width: 100%;
      }

      .menu-lateral-portal {
            width: 45%;
            z-index: 9999;
        }

        .contenedor_filtro_slider {
            display: none;
        }

      .contenedor_filtros_departamentos {
            margin-top: -86px;
        }

        span.titulos_cartas {
          font-size: 12px;
      }


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

      /* === MENU LATERAL === */



        .navegacion_lateral {
            font-size: 14px;
        }

        span.opcione_menu_lateral {
            font-size: 14px;
        }

        .tag {
            margin-left: 28px;
            font-size: 14px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */

      .menu-usuario {
          float: right;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          position: relative;
          margin-left: -150px;
          position: relative;
          left: -0.8%;
      }

       /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
          width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-x='6'] {
          left: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
          min-width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
          max-width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-width='12'] {
        width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='12'] {
        left: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='12'] {
        min-width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='12'] {
        max-width: 119.6%;
      }*/

      .linea_contenedor {
        width: 118.5%;
        height: 3px;
        border-radius: 2px;
        background-color: #BDBDBD;
      }

      .linea_contenedor_azul {
        width: 135px;
        height: 3px;
        border-radius: 2px;
        __background-color: #3C82F5;
      }

      .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 85%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_filtro_slider {
         width: 130px;
         height: 30px;
         margin-left: 16%;
         margin-top: -180px;
      }

      .btn_sanduche {
        display: inline-block;
      }

      .contenedor_menu_lateral {
        display: none;
      }

      .contenedor_tarjetas {
          margin-left: 11px;
          __width: 110%;
          width: 130%;
      }

      .menu-lateral-portal {
          width: 40%;
          z-index: 9999;
      }

      .contenedor_filtro_slider {
            display: none;
        }

      .contenedor_filtros_departamentos {
            margin-top: -120px;
        }

        span.titulos_cartas {
          font-size: 12px;
      }


    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

       /* === MENU LATERAL === */




        .navegacion_lateral {
            font-size: 13px;
        }

        span.opcione_menu_lateral {
            font-size: 12px;
        }

        .tag {
            margin-left: 28px;
            font-size: 13px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */


      /* CODIGO MOMENTANEO */



      /* TERMINA CODIGO MOMENTANEO */

      .menu-usuario {
          float: right;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          position: relative;
          margin-left: -150px;
          position: relative;
          left: -0.8%;
      }

      .panel-heading#panel-opciones-desplegables .panel-title span {
            text-transform: none;
            float: left;
            font-weight: normal;
            margin-top: -12px;
            margin-left: -13px;
        }

        span.titulos_cartas {
            __font-size: 16px;
            font-size: 10px;
            color: white;
            font-family: 'Roboto-light', Helvetica, Arial, sans-serif;
            __background-color: #5995f6;
            padding: 3px;
        }

        /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
          width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-x='6'] {
          left: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
          min-width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
          max-width: 60%;
        }

        .grid-stack > .grid-stack-item[data-gs-width='12'] {
        width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='12'] {
        left: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='12'] {
        min-width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='12'] {
        max-width: 119.6%;
      }*/

      .grid-stack > .grid-stack-item[data-gs-width='4'] {
        width: 33.3333333333%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='4'] {
        left: 33.3333333333%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='4'] {
        min-width: 33.3333333333%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='4'] {
        max-width: 33.3333333333%;
      }

      /*.grid-stack-item[data-gs-height="3"] {
          height: 150px !important;
      }

      .grid-stack-item[data-gs-min-height="3"] {
          min-height: 150px !important;
      }

      .grid-stack-item[data-gs-y="0"] {
          top: 0px;
      }*/

      .linea_contenedor {
        __width: 118.5%;
        width: 98.5%;
        height: 3px;
        border-radius: 2px;
        background-color: #BDBDBD;
      }

      .linea_contenedor_azul {
        width: 135px;
        height: 3px;
        border-radius: 2px;
        __background-color: #3C82F5;
      }

      .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 85%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_filtro_slider {
          width: 170px;
          height: 30px;
          margin-left: 11%;
          position: relative;
          top: -170px;
      }

      .contenedor_filtros_departamentos {
        width: 180px;
        height: 95px;
        margin-left: 14%;
        margin-top: -80px;
      }

      .btn_sanduche {
        display: none;
      }

      .contenedor_menu_lateral {
        display: inline-block;
      }

      .contenedor_tarjetas {
          margin-left: -90px;
          __width: 82%;
          width: 98%;
      }

      .menu-lateral-portal {
          width: 25%;
          z-index: 9999;
      }

      .contenedor_filtro_slider {
          display: inline-block;
      }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

      /* === MENU LATERAL === */



        .navegacion_lateral {
            font-size: 16px;
        }

        span.opcione_menu_lateral {
            font-size: 16px;
        }

        .tag {
            margin-left: 28px;
            font-size: 14px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */

      .menu-usuario {
          float: right;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          position: relative;
          margin-left: -150px;
          position: relative;
          left: -0.8%;
      }

      .contenedor_tarjetas {
        margin-left: -120px;
        width: 98%;
      }

      /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
        width: 60%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='6'] {
        left: 60%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
        min-width: 60%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
        max-width: 60%;
      }

      .grid-stack > .grid-stack-item[data-gs-width='12'] {
        width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='12'] {
        left: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='12'] {
        min-width: 119.6%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='12'] {
        max-width: 119.6%;
      }*/

      .navegacion_lateral {
          list-style: none;
          font-size: 16px;
          position: relative;
          overflow: hidden;
          __margin-left: 35%;
          margin-left: 15%;
          height: 560px;
      }

      .navegacion_lateral_mapa {
          list-style: none;
          font-size: 16px;
          position: relative;
          overflow: hidden;
          margin-left: 35%;
          height: 420px;
          margin-top: -15px;
      }

      .logo-container {
          __width: 22%;
          width: 17%;
          text-align: center;
          height: 50px;
          float: left;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
      }

      .titulo_filtro {
        font-size: 14px;
        width: 80%;
        color: #8A8A8A;
        border-bottom: 1px solid #8A8A8A;
        font-family: 'Roboto-light';
      }

      .contenedor_filtros {
        width:180px;
        height:400px;
        __margin-left: 40%;
        margin-left: 21%;
      }

      .linea_contenedor {
        __width: 118.5%;
        width: 98.8%;
        height: 3px;
        border-radius: 2px;
        background-color: #BDBDBD;
      }

      .linea_contenedor_azul {
        width: 135px;
        height: 3px;
        border-radius: 2px;
        __background-color: #3C82F5;
      }

      .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 85%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_filtro_slider {
          width: 170px;
          height: 30px;
          margin-left: 33%;
          margin-top: -180px;

    }

    .contenedor_filtros_departamentos {
        width: 180px;
        height: 95px;
        margin-left: 39%;
      }

      .btn_sanduche {
        display: none;
      }

      .contenedor_menu_lateral {
        display: inline-block;
      }

      .menu-lateral-portal {
          width: 25%;
          z-index: 9999;
      }

      span.titulos_cartas {
          font-size: 13px;
      }


  }


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1600px) {

      /* === MENU LATERAL === */


        .navegacion_lateral {
            font-size: 16px;
        }

        span.opcione_menu_lateral {
            font-size: 16px;
        }

        .tag {
            margin-left: 28px;
            font-size: 14px;
            font-family: 'Roboto-light';
            font-weight: 200;
        }

        /* === TERMINA MENU LATERAL === */

      .menu-usuario {
          float: right;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          position: relative;
          margin-left: -150px;
          position: relative;
          __left: -13.2%;
          left: -6.2%;
      }

      .contenedor_tarjetas {
        margin-left: -15px;
        width: 81%;
      }

      /*.grid-stack > .grid-stack-item[data-gs-width='6'] {
        width: 44%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='6'] {
        left: 44%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='6'] {
        min-width: 44%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='6'] {
        max-width: 44%;
      }

      .grid-stack > .grid-stack-item[data-gs-width='12'] {
        width: 87.5%;
      }

      .grid-stack > .grid-stack-item[data-gs-x='12'] {
        left: 87.5%;
      }

      .grid-stack > .grid-stack-item[data-gs-min-width='12'] {
        min-width: 87.5%;
      }

      .grid-stack > .grid-stack-item[data-gs-max-width='12'] {
        max-width: 87.5%;
      }*/

      .navegacion_lateral {
          list-style: none;
          font-size: 16px;
          position: relative;
          overflow: hidden;
          margin-left: 35%;
          height: 560px;
      }

      .navegacion_lateral_mapa {
          list-style: none;
          font-size: 16px;
          position: relative;
          overflow: hidden;
          margin-left: 35%;
          height: 420px;
          margin-top: -15px;
      }

      .logo-container {
          width: 23%;
          text-align: center;
          height: 50px;
          float: left;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
      }

      .titulo_filtro {
        font-size: 14px;
        width: 130%;
        color: #8A8A8A;
        border-bottom: 1px solid #8A8A8A;
        font-family: 'Roboto-light';
      }


      .contenedor_filtros {
        width:180px;
        height:400px;
        margin-left: 38%;
      }

      .linea_contenedor {
        __width: 86.6%;
        width: 99.2%;
        height: 3px;
        border-radius: 2px;
        background-color: #BDBDBD;
      }

      .linea_contenedor_azul {
        width: 90px;
        height: 3px;
        border-radius: 2px;
        background-color: #071441;
      }


      .calendario-portal {
          background: #fff;
          cursor: pointer;
          padding: 5px 10px;
          border: 1px solid #ccc;
          width: 141%;
          font-size: 14px;
          margin-left: -6px;
      }

      .contenedor_filtro_slider {
        width:250px;
        height:30px;
        margin-left: 36%;
        margin-top: -200px;
      }


      .contenedor_filtros_departamentos {
        width: 180px;
        height: 95px;
        margin-left: 38%;
      }

      .btn_sanduche {
        display: none;
      }

      .contenedor_menu_lateral {
        display: inline-block;
      }

      .menu-lateral-portal {
          width: 25%;
          z-index: 9999;
      }

      span.titulos_cartas {
          font-size: 13px;
      }


    }



