*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    padding: 0;
    min-width: 600px;
}

.sidebar_lateral {
    position: relative;
    display: block;
    padding: 1em;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content {
    position: relative;
    padding: 1em;
    width: 70%;
    height: 100vh;
    float: right;
    border: 1px solid #e2e2e2;
    text-align: center;
}

.navegacion_lateral {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 30%;
}

ul.navegacion_lateral > li > a:hover {
    background-color: #fff !important;
}

ul.navegacion_lateral li {
    color: #337ab7;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff !important;
}

ul.navegacion_lateral li:hover > a:hover {
    color: #3E82F5;
    background-color: #fff !important;
    overflow: hidden;
    cursor: pointer;
}

.navegacion_lateral > li:first-child {
    cursor: initial;
}

.navegacion_lateral > li:first-child:hover {
    background-color: initial;
}

.navegacion_lateral li:hover {
    background-color: #fcf9f9;
    color: #292e83
}

ul.navegacion_lateral > li > a {
    display: block;
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    /*..*/
}

.navegacion_lateral_mapa {
    list-style: none;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    margin-left: 30%;
}

ul.navegacion_lateral_mapa > li > a:hover {
    background-color: #fff !important;
}

ul.navegacion_lateral_mapa li {
    color: #8A8A8A;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff !important;
}

ul.navegacion_lateral_mapa li:hover > a:hover {
    color: #3E82F5;
    background-color: #fff !important;
    overflow: hidden;
    cursor: pointer;
}

.navegacion_lateral_mapa > li:first-child {
    cursor: initial;
}

.navegacion_lateral_mapa > li:first-child:hover {
    background-color: initial;
}

.navegacion_lateral_mapa li:hover {
    background-color: #fcf9f9;
}

ul.navegacion_lateral_mapa > li > a {
    display: block;
    padding: 7px;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    /*..*/
}

.nav-name {
    text-transform: uppercase;
    font-weight: bolder;
    color: #646464;
}

.drop {
    background-color: #fff;
    list-style: none;
    display: block;
    max-height: 0;
    transition: max-height .3s;
}

.drop > li {}

.arrow {
    position: relative;
    top: -1pt;
    float: inherit;
    display: inline-block;
    border-right: 0.14em solid;
    border-bottom: 0.14em solid;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    __left: 12px;
    left: -2px;
    transition: ease-in 0.2s;
}

.active .drop {
    max-height: 250px;
    transition: max-height 1s ease-out;
}

.actived {
    transform: rotate(45deg) !important;
}

.clicked {
    color: #292e83 !important;
    background-color: #fcf9f9;
}