<div ng-controller='desarrollo_adminCtrl'>
   <div class="col-xs-9 col-xs-pull-3 col-sm-9 col-sm-pull-3 col-md-9 col-md-push-1">
     <!-- SECCION OBJETIVO 1 -->
     <div class="row" id='seccion_objetivo_uno'>
           <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas">
                 <header class="titulo-pagina">
                    <h3 class="panel-title txt-verde">
                      <span class='objetivo_id'></span><span class='bold_objetivo' ></span>
                       <div class="linea_contenedor">
                          <div id="linea_contenedor_azul"></div>
                       </div>
                    </h3>
                      <small class="txt-medio descripcion_objetivo"></small>
                 </header>
                 <div id='expandir2'>
                     <div class="panel-heading" id="panel-opciones-desplegables">
                       <h3 class="panel-title">
                           <!--NOMBRE CAJA-->
                           <span></span><span class="titulos_cartas_modal"><div id='titulo_categoria'><i class="fa fa-bookmark-o" aria-hidden="true"></i></div></span>
                           <!--TERMINA NOMBRE CAJA-->
                            <ul class="panel-acciones-desplegables opciones-usuario">
                               <li><span></span><span class="cerrar btn_cerra_tabla_info"><i class="fa fa-times" aria-hidden="true"></i></span></li>
                             </ul>
                         </h3>
                   </div>
                   <div class="col-xs-12">
                             <div id='tabla' class="tablas_info">
                         
                          </div>
                   </div>
                 </div>
                 <div id='contenedor_tarjetas' class="grid-stack grid-stack-animate tarjetas" data-gs-width="12" data-gs-animate="yes"></div>
           </div>
     </div>
     <div class="row" id='seccion_objetivo_seis' style='display:none' >
           <div class="grid-stack grid-stack-animate" data-gs-width="12" data-gs-animate="yes">
              <div id="contenedor-flip" class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="3" data-gs-min-width="4" data-gs-min-height="3" data-gs-no-resize="true" data-gs-no-move="true"></div>
           </div>
     </div>
   </div>
</div>