<div ng-controller='HistoriaCtrl'>
  <div class="col-xs-9 col-xs-pull-3 col-sm-9 col-sm-pull-3 col-md-9 col-md-push-1">
        <div class="row" id='seccion_usoapp'>
             <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas">
                  <header class="titulo-pagina">
                        <h3 class="panel-title txt-verde">
                          <span>Historia</span>
                          <div class="linea_contenedor">
                               <div class="linea_contenedor_azul"></div>
                          </div>
                              <!--<ul class="panel-acciones">
                               <li>
                                   <div class="calendario-portal" id="reportrange" class="pull-right">
                                           <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                           <span></span> <b class="caret"></b>
                                       </div>
                               </li>
                             </ul>-->
                        </h3>
                         <small class="txt-medio"></small>
                  </header>
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">     
                       <div>
                         <img class="img-responsive" src="img/timeline.svg" alt="">
                       </div> 
                  </div>
                  <!--<div class="col-xs-12 col-sm-10 col-sm-offset-1">     
                       <div>
                         <img class="img-responsive" src="img/rubros.svg" alt="">
                       </div> 
                  </div>-->
            </div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas contenido_soportes">
                  <header class="titulo-pagina">
                          <h3 class="panel-title txt-verde">
                            <span>Soportes</span>
                            <div class="linea_contenedor">
                                 <div class="linea_contenedor_azul"></div>
                            </div>
                                <!--<ul class="panel-acciones">
                                 <li>
                                     <div class="calendario-portal" id="reportrange" class="pull-right">
                                             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                             <span></span> <b class="caret"></b>
                                         </div>
                                 </li>
                               </ul>-->
                          </h3>
                           <small class="txt-medio"></small>
                  </header>
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">     
                       <div class="col-xs-12 col-sm-12">
                           <div class="contenedor_pdf_historia">
                                 <ul class="pdf_vertical">
                                   <li><a target="_blank" href="data/pdf/acuerdo_001.pdf"><p>Acuerdo N.001</p></a></li>
                                   <li><a target="_blank" href="data/pdf/acuerdo_002.pdf"><p>Acuerdo N.002</p></a></li>
                                   <li><a target="_blank" href="data/pdf/acta_23_junio.pdf"><p>Acta 23 de junio</p></a></li>
                                 </ul>
                            </div>
                       </div> 
                  </div>
            </div>
        </div>                 
  </div>
</div>