<div ng-controller='HomeCtrl' id="infografias_historia">
      <div class="col-xs-9 col-xs-pull-3 col-sm-9 col-sm-pull-3 col-md-9 col-md-push-1">
           <div class="row" id='seccion_usoapp'>
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas">
                  <header class="titulo-pagina">
                        <h3 class="panel-title txt-verde">  
                              <!--<ul class="panel-acciones">
                               <li>
                                   <div class="calendario-portal" id="reportrange" class="pull-right">
                                           <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                           <span></span> <b class="caret"></b>
                                       </div>
                               </li>
                             </ul>-->
                        </h3>
                         <small class="txt-medio"></small>
                  </header>
                  <div class="col-xs-12 col-sm-12">     
                       <div>
                         <img class="img-responsive" src="img/portada.svg" alt="">
                       </div> 
                  </div>
            </div>
          </div>
      </div>
</div>