<div ng-include="'templates/menu_visitante.html'"></div>
<main>
<section>
<div class="body-wrapper">

<!--EMPIEZA CONTENEDOR BOOSTRAP-->

	<div class="container-fluid">

	     <header class="titulo-pagina">
		  <h3 class="panel-title txt-verde">
		    <i class="fa fa-list"></i> LISTAR CALIFICACIONES
	           <ul class="panel-acciones">
				   <li>
				   	 <div class="calendario-portal" id="reportrange" class="pull-right">
                             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                             <span></span> <b class="caret"></b>
                         </div>
				   </li>
		       </ul>
		  </h3>
			<small class="txt-medio"></small>
	     </header>

	     <!--EMPIEZA GRIDSTACK-->

	     <div class="grid-stack grid-stack-animate" data-gs-width="12" data-gs-animate="yes">

	          <div id="contenedor-flip" class="grid-stack-item caja8" data-gs-x="0" data-gs-y="0" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por EPS 1</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja8')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_uno" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja8')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja9" data-gs-x="4" data-gs-y="0" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <span>Indicador por EPS 2</span>
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja9')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_dos" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja9')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja10" data-gs-x="8" data-gs-y="0" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por EPS 3</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja10')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_tres" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja10')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>

	          <div id="contenedor-flip" class="grid-stack-item caja11" data-gs-x="0" data-gs-y="5" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por IPS 1</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja11')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_cuatro"  class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja11')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="4" data-gs-y="5" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por IPS 2</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_cinco" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="8" data-gs-y="5" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por IPS 3</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_seis" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>

	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="0" data-gs-y="10" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por Semana 1</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_siete" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="4" data-gs-y="10" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por Semana 2</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_ocho" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="8" data-gs-y="10" data-gs-width="4" data-gs-height="5" data-gs-min-width="4" data-gs-min-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Indicador por Semana 3</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="scatter_nueve" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja12" data-gs-x="0" data-gs-y="15" data-gs-width="12" data-gs-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Calificaciones de servicios</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja12')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
						     <table class="tabla_comentarios table table-striped table-responsive">
                                  <tr>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>FECHA</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>DEPARTAMENTO</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>MUNICIPIO</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>EPS</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>IPS</strong></p></th>
                                  </tr>
                                  <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Caldas</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Manizales</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Sura</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Caldas</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Manizales</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Sura</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Caldas</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Manizales</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Sura</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Caldas</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Manizales</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Sura</p></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum</p></td>
	                              </tr>
                             </table>
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja12')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>

	     </div>

	     <!--TERMINA EMPIEZA GRIDSTACK-->

	</div>

	<!--TERMINA CONTENEDOR BOOSTRAP-->

</div>
</section>
</main>
