<div ng-controller='MenuVisitanteCtrl'>
  <section>
       <header>
      <nav class="menu-portal">
        <div class="logo-container">
          <a ng-click="clickear('home')" class="logo"><img class="logo-portal" src="img/caldasBioregion.png"></a>
          <a  class="bttn btn_sanduche pull-right">
             <div id="nav-icon3" class='boton_sanduche'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
          </a>
        </div>
        <a ui-sref="dashboard" class="logo-hidden"><img class="logo-portal-hiden" src="img/caldasBioregion.png"></a>
        <!-- EMPIEZA MENU -->

        <!-- TERMINA EMPIEZA MENU -->

        <!-- EMPIEZA MENU DERECHO DEL PORTAL WEB QUE ESTARA ENCIMA DE LA BARRA DE NAVEGACION-->
        <div class="menu-usuario">
          <!--<a class="brand-icon"><i class="fa fa-recycle"></i></a>-->
          <ul class="pull-right opciones-usuario">
            <li class="contenido-deslizable no-color">
              <a class="menu-item" ><img width="128px" height="128px" class="list-img bios" src="img/bios.png" alt="me" /></a>
            </li>
          </ul>
          <ul class="pull-right opciones-usuario">
            <li class="contenido-deslizable"><a class="menu-item" ><img width="128px" height="128px" class="list-img gobernacion" src="img/Gobernacion.png" alt="me" /><!--<span class="menu-badge">10</span>--></a>
            </li>
          </ul>
          <ul class="pull-right opciones-usuario">
            <li class="contenido-deslizable"><a class="menu-item" ><img width="128px" height="128px" class="list-img regalias" src="img/Regalias.png" alt="me" /><!--<span class="menu-badge">10</span>--></a>
            </li>
          </ul>
          <!--<ul class="pull-right opciones-usuario">
            <li>
              <input type="text" class="buscador-portal"/>
                <div class="close">
                    <span class="front"></span>
                    <span class="back"></span>
                </div>
            </li>
          </ul>-->
        </div>
        <!-- TERMINA MENU DERECHO DEL PORTAL WEB QUE ESTARA ENCIMA DE LA BARRA DE NAVEGACION-->
      </nav>
       </header>
       </section>
      <aside>
      <!--<nav class="menu-lateral-portal">
      <ul>
        <li>
          <a ui-sref="dashboard" class="inbox">
            <i class="fa fa-star-o"><span class="animacion-opciones bg-verde"></span></i>
            <span class="menu-lateral-portal-item">DASHBOARD</span>
          </a>
        </li>
        <li>
          <a ui-sref="listado_calificaciones">
            <i class="fa fa-list">
              <span class="animacion-opciones bg-verde"></span>
            </i>
            <span class="menu-lateral-portal-item">LISTAR CALIFICACIONES</span>
          </a>
        </li>
        <li>
           <a ui-sref="estadisticas_calificaciones" class="snooz">
              <i class="fa fa-line-chart">
                 <span class="animacion-opciones bg-verde"></span>
              </i>
              <span class="menu-lateral-portal-item">ESTADISTICAS CALIFICACIONES</span>
           </a>
        </li>
        <li>
           <a ui-sref="solicitud_pqr_sms" class="done">
              <i class="fa fa-pencil-square-o">
                 <span class="animacion-opciones bg-verde"></span>
              </i>
              <span class="menu-lateral-portal-item">SOLICITUDES - PQR - SMS</span>
           </a>
        </li>
        <li>
          <a ui-sref="estadisticas">
            <i class="fa fa-area-chart">
               <span class="animacion-opciones bg-verde"></span>
            </i>
            <span class="menu-lateral-portal-item">ESTADISTICAS</span>
          </a>
        </li>
      </ul>
      </nav>-->
      </aside>
</div>
