<div ng-controller='MenuLateralCtrl'>
      <div class="col-xs-3 col-sm-3">
         <nav class="menu-lateral-portal contenedor_menu_lateral">
            <div class="sidebar_lateral">
                  <div id='nombre_objetivos'>
                  </div>
                  <div class='contenedor_filtros'>
                     <h5 class="text-left titulo_filtro">Filtrar</h5>
                     <div id='categorias'>	
                     </div>
                  </div>
            </div>
         </nav>
      </div>
</div>