
<div ng-include="'templates/menu_visitante.html'"></div>
<main>
   <section>
      <div class="body-wrapper">
         <!--EMPIEZA CONTENEDOR BOOSTRAP-->
         <div class="container-fluid">
            <div class="row">
               
              <div ng-include="'templates/menu_lateral.html'"></div>
              <div  ng-include='include'></div>
              <input style='display:none' id='objetivoclick' ng-model='objetivoclick' type='text' value='objetivo2'>
            </div>
         </div>
         <!--TERMINA CONTENEDOR BOOSTRAP-->
      </div>
   </section>
</main>

