<div ng-controller='ProrrogaCtrl' id="infografias_historia">
      <div class="col-xs-9 col-xs-pull-3 col-sm-9 col-sm-pull-3 col-md-9 col-md-push-1">
           <div class="row" id='seccion_usoapp'>
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas">
                   <header class="titulo-pagina">
                        <h3 class="panel-title txt-verde">
                          <span>Prórroga</span>
                          <div class="linea_contenedor">
                               <div class="linea_contenedor_azul"></div>
                          </div>
                              <!--<ul class="panel-acciones">
                               <li>
                                   <div class="calendario-portal" id="reportrange" class="pull-right">
                                           <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                           <span></span> <b class="caret"></b>
                                       </div>
                               </li>
                             </ul>-->
                        </h3>
                         <small class="txt-medio"></small>
                   </header>
                  <div class="col-xs-12 col-sm-12">  
                       <div class="swiper-container">
                           <div class="swiper-wrapper">
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/muro.svg" alt=""></div>
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/apps.svg" alt=""></div>
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/curriculos.svg" alt=""></div>
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/formacion.svg" alt=""></div>
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/empresas.svg" alt=""></div>
                                <div class="swiper-slide"><img class="imagenes_slider" src="img/proyectos.svg" alt=""></div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                      </div>
                  </div>
              </div>
              <!--<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas contenido_soportes">
                        <header class="titulo-pagina">
                                <h3 class="panel-title txt-verde">
                                  <span>Soportes</span>
                                  <div class="linea_contenedor">
                                       <div class="linea_contenedor_azul"></div>
                                  </div>
                                      <ul class="panel-acciones">
                                       <li>
                                           <div class="calendario-portal" id="reportrange" class="pull-right">
                                                   <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                                   <span></span> <b class="caret"></b>
                                               </div>
                                       </li>
                                     </ul>
                                </h3>
                                 <small class="txt-medio"></small>
                        </header>
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">     
                             <div class="col-xs-12 col-sm-12">
                             <div class="contenedor_pdf">
                                  <ul class="pdf_vertical">
                                     <li class="modificatorio"><a target="_blank" href="data/pdf/modificatorio_dos.pdf"><p>Modificatorio</p></a></li>
                                  </ul>
                             </div>
                             </div> 
                        </div>
                  </div>-->
          </div>
      </div>
</div>
