<div ng-include="'templates/menu_visitante.html'"></div>
<main>
<section>
<div class="body-wrapper">

<!--EMPIEZA CONTENEDOR BOOSTRAP-->

	<div class="container-fluid">

	     <header class="titulo-pagina">
		  <h3 class="panel-title txt-verde">
		    <i class="fa fa-list"></i> SOLICITAR - PQR - SMS
	           <ul class="panel-acciones">
				   <li>
				   	 <div class="calendario-portal" id="reportrange" class="pull-right">
                             <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                             <span></span> <b class="caret"></b>
                         </div>
				   </li>
		       </ul>
		  </h3>
			<small class="txt-medio"></small>
	     </header>


	     <!--EMPIEZA GRIDSTACK-->


	     <div class="grid-stack grid-stack-animate" data-gs-width="12" data-gs-animate="yes">

	          <div id="contenedor-flip" class="grid-stack-item caja23" data-gs-x="0" data-gs-y="0" data-gs-width="6" data-gs-height="7">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Comparativa: SOLICITUDES - PQR - SMS</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja23')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja23')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja24" data-gs-x="6" data-gs-y="0" data-gs-width="6" data-gs-height="12">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Nube de palabras</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja24')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div id="nube_palabras" class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
						     <div id="filtroNube" class="text-center">
						     </div>
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja24')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja25" data-gs-x="0" data-gs-y="7" data-gs-width="6" data-gs-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>Solicitudes</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja25')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
						     <table class="tabla_comentarios table table-striped table-responsive">
	                              <tr>
	                                <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>FECHA</strong></p></th>
	                                <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>SOLICITUD</strong></p></th>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                         </table>
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja25')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja26" data-gs-x="0" data-gs-y="12" data-gs-width="6" data-gs-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>PQR</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja26')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
						     <table class="tabla_comentarios table table-striped table-responsive">
                                  <tr>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>FECHA</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>PQR</strong></p></th>
                                  </tr>
                                  <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
                             </table>
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja26')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>


	          <div id="contenedor-flip" class="grid-stack-item caja27" data-gs-x="6" data-gs-y="12" data-gs-width="6" data-gs-height="5">
	               <div class="grid-stack-item-content">
	                    <div class="panel-heading" id="panel-opciones-desplegables">
						     <h3 class="panel-title">
						         <!--NOMBRE CAJA-->
						         <span>SMS</span>
						         <!--TERMINA NOMBRE CAJA-->
						          <ul class="panel-acciones-desplegables opciones-usuario">
					                <li><i class="fa fa-chevron-down"></i></li>
					                <li class="contenido-deslizable">
					                    <a class="menu-item" href="#" ng-click="flip('caja27')">
					                       <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                    </a>
			                        </li>
			                        <li class="contenido-deslizable">
			                            <a class="menu-item" href="#">
			                               <i class="fa fa-cog grafica"></i>
			                            </a>
				                        <ul class="item-contenido-deslizable grafica">
				                            <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-repeat"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Restaurar</div>
							                        </div>
						                        </a>
					                        </li>
					                        <li class="notificacion-item text-left">
						                        <a class="contenido-notificacion lg-text" href="#">
						                           <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
						                           <div class="cuerpo-notificacion">
								                        <div class="lg-text">Guardar Configuración</div>
							                        </div>
						                        </a>
					                        </li>
				                        </ul>
			                        </li>
					                <li><i class="fa fa-close"></i></li>
					              </ul>
				             </h3>
					    </div>
					    <div class="esconder-caja">
						     <!--AQUI VA UNA GRAFICA-->
						     <table class="tabla_comentarios table table-striped table-responsive">
                                  <tr>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>FECHA</strong></p></th>
                                    <th class="tabla_comentarios_th"><p class="titulo-tabla"><strong>SMS</strong></p></th>
                                  </tr>
                                  <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
	                              <tr>
	                                <td class="tabla_comentarios_td"><h5>2016/04/04</h5></td>
	                                <td class="tabla_comentarios_td"><p class="comentarios">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, dolore.</p></td>
	                              </tr>
                             </table>
					    </div>
	               </div>
	               <div class="grid-stack-item-content caraFlipDos">
                            	<div class="panel-heading" id="panel-opciones-desplegables">
						         <h3 class="panel-title">
						             <!--NOMBRE CAJA-->
						             <span>Información</span>
						             <!--TERMINA NOMBRE CAJA-->
						              <ul class="panel-acciones-desplegables opciones-usuario">
					                    <li class="contenido-deslizable">
					                        <a class="menu-item" href="#" ng-click="flip('caja27')">
					                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
					                        </a>
			                            </li>
					                  </ul>
				                 </h3>
					        </div>
					        <div class="informacion-grafica">
						        <!--AQUI VA UNA GRAFICA-->
						        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, nam.</p>
					    </div>
                        </div>
	          </div>

	     </div>

	     <!--TERMINA GRIDSTACK-->

	</div>

	<!--TERMINA CONTENEDOR BOOSTRAP-->


</div>
</section>
</main>
