<div ng-include="'templates/menu_visitante.html'"></div>
<main>
	<section>
		<div class="body-wrapper">

		<!--EMPIEZA CONTENEDOR BOOSTRAP-->

		     <div id="mapa_portal_territorio" class="container-fluid">

		     <div class="row">

		     	  <div class="col-xs-3 col-sm-3">
		     	  	
		     	  	<nav class="menu-lateral-portal contenedor_menu_lateral">
                        
                        <div class="sidebar_lateral">
						    <ul class="navegacion_lateral">
						        <li><a ui-sref="dashboard"><span class="opcione_menu_lateral underline-right">Dashboard</span></a></li>
						        <li><a ui-sref="metricas"><span class="opcione_menu_lateral underline-right">Métricas</span></a></li>
						        <li><a ui-sref="territorio"><span class="opcione_menu_lateral underline-right">Territorio</span></a></li>
						        <!--<li><a href"#"><span class="opcione_menu_lateral underline-right">Observatorio</span></a></li> -->
						    </ul>


						    <div class='contenedor_filtros'>
						    	 <h5 class="text-left titulo_filtro">Filtrar</h5> 

								<ul class="panel-acciones">
							        <li>
							   	      <div class="calendario-portal" id="reportrange" class="pull-right">
	                                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
	                                      <span></span> <b class="caret"></b>
	                                  </div>
							        </li>
							    </ul>

						    </div>

						    <div class="contenedor_filtro_slider">
						    	 <div id="date_range_slider"></div>
						    </div>

						    <div class="contenedor_filtros_departamentos">	
						    <h5 class="text-left titulo_filtro"></h5> 

								<form>
							        <div>
							            <input id="radio-1" name='region' class="radio-custom" value='departamento' checked  type="radio">
							            <label for="radio-1" class="radio-custom-label">Departamento</label>
							        </div>
							        <div>
							            <input id="radio-2" name='region' class="radio-custom" value='municipio'  type="radio">
							            <label for="radio-2" class="radio-custom-label">Municipio</label>
							        </div>
							    </form>
                            <h5 class="text-left titulo_filtro"></h5> 
						    </div>

                            <form class="form_calificacion">

								    <ul class="navegacion_lateral_mapa">
								        <li class="open"><a href"#"><span class="opcione_menu_lateral underline-right">Calificación</span><span class="arrow"></span></a>
								            <ul class="drop">
								              <li>
								                 <div class="opciones_mapa">
												        <div>
												            <input id="radio-3" class="radio-custom" name="radio-group" tipo='calificacion' value='eps' checked type="radio">
												            <label for="radio-3" class="radio-custom-label">EPS</label>
												        </div>
												        <div>
												            <input id="radio-4" class="radio-custom" name="radio-group" tipo='calificacion' value='ips'  type="radio">
												            <label for="radio-4" class="radio-custom-label">IPS</label>
												        </div>
												        <div>
												            <input id="radio-5" class="radio-custom" name="radio-group"  tipo='calificacion' value='servicio'  type="radio">
												            <label for="radio-5" class="radio-custom-label">Servicios</label>
												        </div>
												        <div>
												            <input id="radio-6" class="radio-custom" name="radio-group"  tipo='calificacion' value='edad' type="radio">
												            <label for="radio-6" class="radio-custom-label">Edad</label>
												        </div>
												        <div>
												            <input id="radio-7" class="radio-custom" name="radio-group" tipo='calificacion'  value='sexo' type="radio">
												            <label for="radio-7" class="radio-custom-label">Sexo</label>
												        </div>
												        <div>
												            <input id="radio-8" class="radio-custom" name="radio-group" tipo='calificacion'  value='total' type="radio">
												            <label for="radio-8" class="radio-custom-label">Total</label>
												        </div>
											        </div>
								              </li>
								            </ul>	
								        </li>
								        <li class="open"><a href"#"><span class="opcione_menu_lateral underline-right">Formularios</span><span class="arrow"></span></a>
								            <ul class="drop">
								              <li>
								                 <div class="opciones_mapa">
														 <div>
												            <input id="radio-33" class="radio-custom" name="radio-group" tipo='formularios' value='eps'  type="radio">
												            <label for="radio-33" class="radio-custom-label">EPS</label>
												        </div>
												        <div>
												            <input id="radio-44" class="radio-custom" name="radio-group" tipo='formularios' value='ips'  type="radio">
												            <label for="radio-44" class="radio-custom-label">IPS</label>
												        </div>
												        <div>
												            <input id="radio-55" class="radio-custom" name="radio-group"  tipo='formularios' value='servicio'  type="radio">
												            <label for="radio-55" class="radio-custom-label">Servicios</label>
												        </div>
												        <div>
												            <input id="radio-66" class="radio-custom" name="radio-group"  tipo='formularios' value='edad' type="radio">
												            <label for="radio-66" class="radio-custom-label">Edad</label>
												        </div>
												        <div>
												            <input id="radio-77" class="radio-custom" name="radio-group" tipo='formularios'  value='sexo' type="radio">
												            <label for="radio-77" class="radio-custom-label">Sexo</label>
												        </div>
												        <div>
												            <input id="radio-88" class="radio-custom" name="radio-group" tipo='formularios'  value='total' type="radio">
												            <label for="radio-88" class="radio-custom-label">Total</label>
												        </div>
											      </div>
								              </li>
								            </ul>	
								        </li>
								       <!-- <li class="open"><a href"#"><span class="opcione_menu_lateral underline-right">Uso App</span><span class="arrow"></span></a>
								            <ul class="drop">
								              <li>
								              <div class="opciones_mapa">
											        <div>
											            <input id="radio-11" class="radio-custom" name="radio-group" type="radio">
											            <label for="radio-11" class="radio-custom-label">Tu voz en el sistema</label>
											        </div>
											        <div>
											            <input id="radio-12" class="radio-custom" name="radio-group" type="radio">
											            <label for="radio-12" class="radio-custom-label">Elijo saber</label>
											        </div>
											        <div>
											            <input id="radio-13" class="radio-custom" name="radio-group" type="radio">
											            <label for="radio-13" class="radio-custom-label">SMS</label>
											        </div>
											     </div>
								              </li>
								            </ul>	
								        </li>-->
								        
								    </ul>

						    </form>

						</div>

				  	</nav>

		     	  </div>

		     	  <div class="col-xs-9 col-xs-pull-3 col-sm-9 col-sm-pull-3 col-md-9 col-md-push-1">

		     	  <!-- SECCION DE MAPA TERRITORIO -->  

		     	  <div class="row">

		     	       <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 contenedor_tarjetas">
		     	  	
			     	  	   <header class="titulo-pagina">
							       <h3 class="panel-title txt-verde">
							         <span>Territorio</span>
							         <div class="linea_contenedor">
							         	  <div class="linea_contenedor_azul"></div>
							         </div>
						                <!--<ul class="panel-acciones">
									        <li>
									   	      <div class="calendario-portal" id="reportrange" class="pull-right">
			                                      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
			                                      <span></span> <b class="caret"></b>
			                                  </div>
									        </li>
							            </ul>-->
							       </h3>
						           <small class="txt-medio"></small>
				          </header>

			          <!--EMPIEZA GRIDSTACK-->

			          <div class="grid-stack grid-stack-animate" data-gs-width="12" data-gs-animate="yes">

                           <div id="contenedor-flip" class="grid-stack-item caja1" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="10" data-gs-min-width="12" data-gs-min-height="10" data-gs-no-resize="true" data-gs-no-move="true">
                                <div class="grid-stack-item-content  caraFlipUno">
                                	<div class="row">
		                                  <div class="col-xs-12 col-sm-12">
			                                	<div class="panel-heading" id="panel-opciones-desplegables">
											         <h3 class="panel-title">
											             <!--NOMBRE CAJA-->
											             
											             <!--TERMINA NOMBRE CAJA-->
											              <!--<ul class="panel-acciones-desplegables opciones-usuario">
										                    <li><i class="fa fa-chevron-down"></i></li>
										                    <li class="contenido-deslizable">
										                        <a class="menu-item" href="#" ng-click="flip('caja1')">
										                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
										                        </a>
								                            </li>
								                            <li class="contenido-deslizable">
								                                <a class="menu-item" href="#">
								                                   <i class="fa fa-cog grafica"></i>
								                                </a>
									                            <ul class="item-contenido-deslizable grafica">
									                                <li class="notificacion-item text-left">
											                            <a class="contenido-notificacion lg-text" href="#">
											                               <div class="pull-left"><i class="fa fa-repeat"></i></div>
											                               <div class="cuerpo-notificacion">
													                            <div class="lg-text">Restaurar</div>
												                            </div>
											                            </a>
										                            </li>
										                            <li class="notificacion-item text-left">
											                            <a class="contenido-notificacion lg-text" href="#">
											                               <div class="pull-left"><i class="fa fa-arrow-down"></i></div>
											                               <div class="cuerpo-notificacion">
													                            <div class="lg-text">Guardar Configuración</div>
												                            </div>
											                            </a>
										                            </li>
									                            </ul>
								                            </li>
										                    <li><i class="fa fa-close"></i></li>
										                  </ul>-->
									                 </h3>
										        </div>
									        </div>
								        </div>
									     <div class="esconder-caja">
	                             	  		 	<!--<input type='button' id='boton' value='boton' style='position:absolute; z-index: 999999999;'>-->
	                             	  		      <div class="row">
                                                       <div class="col-xs-1 col-sm-1">
                                                            <p id='flecha' style='z-index: 999999999; position:absolute; top:-4px; left: 23px; font-size:11px'>&#x25C0;</p>
				                             	  		 	<div id='barras' style='z-index: 999999999;top: 0px;left: -67px;'>
				                             	  		 	<!--<table border='1'>
				                             	  		 		<td style='background-color:blue;'>hola</td>
				                             	  		 	</table>-->
				                             	  		 	</div>
                                                       </div>
                                                       <div class="col-xs-11 col-sm-11">
                                                            <div id='mapa_calor'></div>
                                                       </div>
	                             	  		      </div>
								        </div>
							        </div>
                                <div class="grid-stack-item-content caraFlipDos carta_medicamento_blanca_reversa">
                                	<div class="row">
	                                  <div class="col-xs-12 col-sm-12">
		                                	<div class="panel-heading" id="panel-opciones-desplegables">
										         <h3 class="panel-title">
								             <!--NOMBRE CAJA-->
								             <span class="titulo_cartas_metricas"><strong>Medicamento de la semana</strong></span>
								             <!--TERMINA NOMBRE CAJA-->
								              <!--<ul class="panel-acciones-desplegables opciones-usuario">
							                    <li class="contenido-deslizable">
							                        <a class="menu-item" href="#" ng-click="flip('caja1')">
							                           <i class="fa fa-question-circle grafica" aria-hidden="true"></i>
							                        </a>
					                            </li>
							                  </ul>-->
						                 </h3>
									        </div>
								        </div>
							        </div>
							        <div class="esconder-caja">
								        <!--AQUI VA UNA GRAFICA-->
								        <div class="row">
                                         	  <div class="col-xs-12 col-sm-12 col-md-12 cont_reve">
                                         	       <div class="banda_cartas_blanca_reverso"></div>
                                     	           <div class="boton_carta_reverso">
                                     	  		        <a ng-click="flip('caja1')"><p><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></p></a>
                                     	  	       </div>
                                         	  </div>
                                         </div>
								        
							        </div>
                                </div>
                           </div>

                     </div>

                     <!--TERMINA EMPIEZA GRIDSTACK-->
		     	  </div>
		     	  	
		     	  </div>

		     	  <!-- TERMINA SECCION DE MAPA TERRITORIO -->  

		     	  </div>
		     </div>

			    
		     </div>

		     <!--TERMINA CONTENEDOR BOOSTRAP-->

		</div>

	</section>
   </main>
